﻿@model MTI.CaradaIdProvider.Web.Models.ViewModels.IdNoticeViewModel
@{
    ViewBag.Title = "ID連絡";
    ViewBag.Url = "/User/IdNotice";
}
<div style="background-color:#313131;color:white;font-size:small;">
    CARADA ID ID連絡
</div>
<br />
    CARADA IDをﾒｰﾙにてご連絡いたします｡<br />
    登録されているﾒｰﾙｱﾄﾞﾚｽを入力してください｡<br />
@using (Html.BeginForm("IdNotice", "User", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    @("ﾒｰﾙｱﾄﾞﾚｽ")
    <div align="left">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @style = "width:100%", @type = "text", @istyle = "3", @size = "20" } })
    </div>
    <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.Email)</span>
    <br />
    @("※ﾄﾞﾒｲﾝ指定受信をご利用の方は､｢@carada.jp｣のﾄﾞﾒｲﾝ解除設定をお願いいたします｡")
    <br />
    <br />
    <div style="text-align:center;">
        <input type="submit" value="    CARADA IDを通知する    " name="Notice" />
    </div>
}
<br />
@Html.ActionLink("戻る", "LoginView", "User", null, new { @id = "Back" })