﻿@model MTI.CaradaIdProvider.Web.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "ログイン";
    ViewBag.Url = "/User/Login";
}
<h1 class="h2 margin-30">CARADA ID ログイン</h1>
@using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class="form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="CaradaId" class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.CaradaId)</label>
        <div class="col-sm-10">
            @Html.EditorFor(model => model.CaradaId, new { htmlAttributes = new { @class = "form-control", @placeholder = "CARADA ID" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.CaradaId)</span>
        </div>
    </div>
    <div class="form-group margin-30">
        <label for="Password" class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.Password)</label>
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @class = "form-control", @placeholder = "パスワード" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Password)</span>
        </div>
    </div>
    <div class="form-group margin-20">
        <div class="col-sm-10 col-sm-offset-2">
            <p>@Html.ActionLink("IDを忘れた方はこちら", "IdNoticeView", "User", null, new { @id = "CaradaIdNotice" })</p>
            <p>@Html.ActionLink("パスワードを忘れた方はこちら", "PasswordResetGuideView", "UserSettings", null, new { @id = "PasswordResetGuide" })</p>
            <p>@Html.ActionLink("メールアドレスの再設定はこちら", "EmailResetView", "UserSettings", null, new { @id = "EmailReset" })</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label id="IsKeepLoginLabel" for="IsKeepLogin">
                    @Html.CheckBoxFor2(model => model.IsKeepLogin, new { @class = "" })
                    @Html.DisplayNameFor(model => model.IsKeepLogin)
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-lg btn-primary btn-block" value="ログイン" name="Login">ログイン</button>
        </div>
    </div>
}