﻿@model MTI.CaradaIdProvider.Web.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "ﾛｸﾞｲﾝ";
    ViewBag.Url = "/User/Login";
}
<div style="background-color:#313131;color:white;font-size:small;">
    CARADA ID ﾛｸﾞｲﾝ
</div>
<br />
@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.DisplayNameFor(model => model.CaradaId)
    <br />
    <div align="left">
        @Html.EditorFor(model => model.CaradaId, new { htmlAttributes = new { @style = "width:100%", @type= "text", @istyle = "3" } })
    </div>
    <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.CaradaId)</span>
    <br />
    @:ﾊﾟｽﾜｰﾄﾞ
    <br />
    <div align="left">
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @style = "width:100%", @type= "password", @istyle = "3" } })
    </div>
    <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.Password)</span>
    <br /><br />
    <div align="right">
        @Html.ActionLink("ﾊﾟｽﾜｰﾄﾞを忘れた方はこちら", "PasswordResetGuideView", "UserSettings", null, new { @id = "PasswordResetGuide" })<br />
        @Html.ActionLink("IDを忘れた方はこちら", "IdNoticeView", "User", null, new { @id = "CaradaIdNotice" })<br />
        @Html.ActionLink("ﾒｰﾙｱﾄﾞﾚｽの再設定はこちら", "EmailResetView", "UserSettings", null, new { @id = "EmailReset" })<br />
    </div>
    @Html.CheckBoxFor2(model => model.IsKeepLogin, new { @class = "" })@:ﾛｸﾞｲﾝ状態を保持する
    <br /><br />
    <div align="center">
        <input type="submit" value="   ﾛｸﾞｲﾝ   " name="Login" />
    </div>
}
<br />