﻿@using MTI.CaradaIdProvider.Web.Utilities
@model MTI.CaradaIdProvider.Web.Models.ViewModels.SecurityQuestionRegistViewModel
@{
    ViewBag.Title = "秘密の質問登録";
    ViewBag.Url = "/User/SecurityQuestionRegist";
    var securityQuestionDic = TempData["SecurityQuestion"] as Dictionary<int, string>;
    TempData.Keep();
    var securityQuestion = SelectListUtility.ConvertDicToSelectList(securityQuestionDic);
}
<h1 class="h2">CARADA ID 秘密の質問登録</h1>
<p class="margin-30">メールアドレス変更された場合に、メールアドレスの再設定に必要となる秘密の質問を登録してください。</p>
@using (Html.BeginForm("SecurityQuestionRegist", "User", FormMethod.Post, new { @autocomplete = "off", @class = "form-horizontal" }))
{
    <div class="form-group">
        <label for="SecurityQuestionSelectId" class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.SecurityQuestionSelectId)</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.SecurityQuestionSelectId, securityQuestion, new { @class = "form-control btn btn-dropdown" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.SecurityQuestionSelectId)</span>
        </div>
    </div>
    <div class="form-group margin-30">
        <label for="Answer" class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.Answer)</label>
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control", @placeholder = "全角ひらがな50文字以内で入力してください。" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Answer)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5 margin-10">
            <button type="submit" class="btn btn-lg btn-primary btn-block" name="Regist">登録する</button>
        </div>
    </div>
}
