﻿@using MTI.CaradaIdProvider.Web.Utilities
@model MTI.CaradaIdProvider.Web.Models.ViewModels.SecurityQuestionRegistViewModel
@{
    ViewBag.Title = "秘密の質問登録";
    ViewBag.Url = "/User/SecurityQuestionRegist";
    var securityQuestionDic = TempData["SecurityQuestion"] as Dictionary<int, string>;
    TempData.Keep();
    var securityQuestion = SelectListUtility.ConvertDicToSelectList(securityQuestionDic);
}
<div style="background-color:#313131;color:white;font-size:small;">
    CARADA ID 秘密の質問登録
</div>
<br />
ﾒｰﾙｱﾄﾞﾚｽ変更された場合に､ﾒｰﾙｱﾄﾞﾚｽの再設定に必要となる秘密の質問を登録してください。
<br /><br /><br />
@Html.DisplayNameFor(model => model.SecurityQuestionSelectId)
<br /><br />
@using (Html.BeginForm("SecurityQuestionRegist", "User", FormMethod.Post, new { @autocomplete = "off" }))
{
    <div align="center">
        @Html.DropDownListFor(model => model.SecurityQuestionSelectId, securityQuestion, new { @style = "width:100%" })
    </div>
    <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.SecurityQuestionSelectId)</span>
    <br />
    @Html.DisplayNameFor(model => model.Answer)
    <br />
    <div align="left">
        @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @style = "width:100%", @type = "text" } })
        <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.Answer)</span><br />
    </div>
    @("全角ひらがな50文字以内で入力してください｡")
    <br />
    <br />
    <br />
    <div align="center">
        <input type="submit" value="   登録する   " name="Regist" />
    </div>
}
<br />
<br />