﻿@model MTI.CaradaIdProvider.Web.Models.ViewModels.TwoFactorLoginViewModel
@{
    ViewBag.Title = "認証コード確認";
    ViewBag.Url = "/User/TwoFactorLogin";
}
<h1 class="h2">CARADA ID 認証コード確認</h1>
<p class="margin-30">ご入力いただいたメールアドレス宛に認証コードを送信しました。<br>届いたメールに記載された認証コードを下記へ入力してください。</p>
@using (Html.BeginForm("TwoFactorLogin", "User", FormMethod.Post, new { @autocomplete = "off", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="VerifyCode" class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.VerifyCode)</label>
        <div class="col-sm-9">
            @Html.EditorFor(model => model.VerifyCode, new { htmlAttributes = new { @type = "text", @class = "form-control margin-10", @placeholder = "認証コード" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.VerifyCode)</span>
        </div>
    </div>
    <div class="form-group margin-20">
        <div class="col-sm-10 col-sm-offset-2">
            <small>しばらく経っても認証コードメールが届かない場合は、再度メールアドレス入力からやり直してください。</small>
            <ul class="indent margin-20">
                <li class="caution" id="advice1"><small>ドメイン指定受信をご利用の方は、「@@carada.jp」のドメイン解除設定をお願いいたします。</small></li>
                <li class="caution" id="advice2"><small>最新のメールに記載された認証コードのみが有効となりますのでご注意ください。</small></li>
            </ul>
            <p><small>機種変更等で登録中のメールアドレスがご利用になれなくなった方は、こちらからメールアドレスを再設定してください。</small></p>
            <p>@Html.ActionLink("メールアドレスの再設定をする", "EmailResetView", "UserSettings", null, new { @id = "EmailReset" })</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-push-4 col-sm-5 margin-10">
            <button type="submit" class="btn btn-lg btn-primary btn-block" name="Verify">認証する</button>
        </div>
        <div class="col-sm-pull-3 col-sm-2">
            @Html.ActionLink("戻る", "LoginView", "User", null, new { @id = "Back", @class = "btn btn-lg btn-cancel btn-block" })
        </div>
    </div>
}

