﻿@model MTI.CaradaIdProvider.Web.Models.ViewModels.TwoFactorLoginViewModel
@{
    ViewBag.Title = "認証ｺｰﾄﾞ確認";
    ViewBag.Url = "/User/TwoFactorLogin";
}
<div style="background-color:#313131;color:white;font-size:small;">
    CARADA ID 認証ｺｰﾄﾞ確認
</div>
<br />
ご入力いただいたﾒｰﾙｱﾄﾞﾚｽ宛に認証ｺｰﾄﾞを
送信しました｡
<br />
届いたﾒｰﾙに記載された認証ｺｰﾄﾞを下記へ入力
してください｡
<br />
<br />
@using (Html.BeginForm("TwoFactorLogin", "User", FormMethod.Post, new { @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @("認証ｺｰﾄﾞ")
    <br />
    <div align="left">
        @Html.EditorFor(model => model.VerifyCode, new { htmlAttributes = new { @style = "width:100%", @type = "text", @istyle = "4" } })
    </div>
    <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.VerifyCode)</span>
    <br />
    @("しばらく経っても認証ｺｰﾄﾞﾒｰﾙが届かない場合は､再度ﾒｰﾙｱﾄﾞﾚｽ入力からやり直してください｡")
    <br />
    @("※ ﾄﾞﾒｲﾝ指定受信をご利用の方は､｢@carada.jp｣のﾄﾞﾒｲﾝ解除設定をお願いいたします｡")
    <br />
    @("※ 最新のﾒｰﾙに記載された認証ｺｰﾄﾞのみが有効となりますのでご注意ください｡")
    <br />
    <br />
    @("機種変更等で登録中のﾒｰﾙｱﾄﾞﾚｽがご利用になれなくなった方は､こちらからﾒｰﾙｱﾄﾞﾚｽを再設定してください｡")
    <br />
    <br />
    <div align="right">
        @Html.ActionLink("ﾒｰﾙｱﾄﾞﾚｽの再設定をする", "EmailResetView", "UserSettings", null, new { @id = "EmailReset" })
        <br />
    </div>
    <div style="text-align:center;">
        <input type="submit" value="    認証    " name="Verify" />
    </div>
}
@Html.ActionLink("戻る", "LoginView", "User", null, new { @id = "Back" })

