﻿@model MTI.CaradaIdProvider.Web.Models.ViewModels.UseStartViewModel
@{
    ViewBag.Title = "利用開始";
    ViewBag.Url = "/User/UseStart";
}
<div style="background-color:#313131;color:white;font-size:small;">
    CARADA ID 利用開始
</div>
<br />

    CARADA IDのご利用開始のためﾒｰﾙｱﾄﾞﾚｽの登録が必要です｡<br />
    お使いのﾒｰﾙｱﾄﾞﾚｽを入力してください。
<br /><br />
@using (Html.BeginForm("UseStart", "User", FormMethod.Post, new { @autocomplete = "off" }))
{
    @("ﾒｰﾙｱﾄﾞﾚｽ")
    <br />
    <div align="left">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @style = "width:100%", @type = "text", @istyle = "3" } })
    </div>
    <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.Email)</span>
    <br />
    @("※ﾄﾞﾒｲﾝ指定受信をご利用の方は､｢@carada.jp｣のﾄﾞﾒｲﾝ解除設定をお願いいたします｡")
    <br />
    <br />
    <div align="center">
        <a href="https://fp.carada.jp/terms/platform/" target="_blank">CARADAﾌﾟﾗｯﾄﾌｫｰﾑ利用規約</a><br />
        <br />
        <a href="https://fp.carada.jp/terms/use/" target="_blank">CARADA利用規約</a><br />
        <br />
        <a href="https://fp.carada.jp/terms/corpnotice/" target="_blank">CARADA健康経営支援ｺｰﾎﾟﾚｰﾄﾊﾟｯｹｰｼﾞご利用にあたっての同意事項</a>
    </div>
    <br />
    <div align="center">
        <input type="submit" value="利用規約に同意して開始" name="Start" />
    </div>
    <br />
    @Html.ActionLink("戻る", "LoginView", "User", null, new { @id = "Back" })
}