﻿@model MTI.CaradaIdProvider.Web.Models.ViewModels.UseStartViewModel
@{
    ViewBag.Title = "利用開始";
    ViewBag.Url = "/User/UseStart";
}
<h1 class="h2">CARADA ID 利用開始</h1>
<p class="margin-30">CARADA IDのご利用開始のためメールアドレスの登録が必要です。お使いのメールアドレスを入力してください。</p>
@using (Html.BeginForm("UseStart", "User", FormMethod.Post, new { @autocomplete = "off", @class = "form-horizontal" }))
{
    <div class="form-group">
        <label for="Email" class="col-sm-3 col-md-2 control-label">@Html.DisplayNameFor(model => model.Email)</label>
        <div class="col-sm-9">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @type = "email", @class = "form-control margin-10", @data_rule_email = "false", @placeholder = "メールアドレス" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Email)</span>
        </div>
    </div>
    <div class="form-group margin-20">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <ul class="indent">
                <li class="caution"><small>ドメイン指定受信をご利用の方は、「@@carada.jp」 のドメイン解除設定をお願いいたします。</small></li>
            </ul>
        </div>
    </div>
    <div class="form-group margin-20">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <p><a href="https://www.carada.jp/terms/platform/" target="_blank">CARADAプラットフォーム利用規約</a></p>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <p><a href="https://www.carada.jp/terms/use/" target="_blank">CARADA利用規約</a></p>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <p><a href="https://www.carada.jp/terms/corpnotice/" target="_blank">CARADA健康経営支援コーポレートパッケージご利用にあたっての同意事項</a></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-push-5 col-sm-5 col-md-push-4 col-md-4 margin-10">
            <button type="submit" class="btn btn-lg btn-primary btn-block" name="Start">利用規約に同意して開始</button>
        </div>
        <div class="col-sm-pull-2 col-sm-2 col-md-pull-2 col-md-2">
            @Html.ActionLink("戻る", "LoginView", "User", null, new { @class = "btn btn-lg btn-cancel btn-block", @id = "Back" })
        </div>
    </div>
}
