﻿@using MTI.CaradaIdProvider.Web.Models.ViewModels
@model MTI.CaradaIdProvider.Web.Models.ViewModels.UseStartVerifyCodeViewModel
@{
    ViewBag.Title = "利用開始認証";
    ViewBag.Url = "/User/UseStartVerifyCode";
    var emailTemp = TempData["UseStart"] as UseStartViewModel;
    TempData.Keep();
}
<div style="background-color:#313131;color:white;font-size:small;">
    CARADA ID 利用開始認証
</div>
<br />
ご入力いただいたﾒｰﾙｱﾄﾞﾚｽ宛に認証ｺｰﾄﾞを送信しました｡<br /><br />
ﾒｰﾙｱﾄﾞﾚｽ： @Html.Raw(@emailTemp.Email)<br /><br />
届いたﾒｰﾙに記載された認証ｺｰﾄﾞを下記へ入力してください｡<br />
<br />
@using (Html.BeginForm("UseStartVerifyCode", "User", FormMethod.Post, new { @autocomplete = "off" }))
{
    @("認証ｺｰﾄﾞ")
    <br />
    <div align="left">
        @Html.EditorFor(model => model.VerifyCode, new { htmlAttributes = new { @style = "width:100%", @type = "text", @size = "20", @istyle = "4" } })
        <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.VerifyCode)</span><br />
    </div>
    <font style"font-size:xx-small;">
        しばらく経っても認証ｺｰﾄﾞﾒｰﾙが届かない場合は､再度ﾒｰﾙｱﾄﾞﾚｽ入力からやり直してください｡<br />
        ※ ﾄﾞﾒｲﾝ指定受信をご利用の方は､｢@@carada.jp｣のﾄﾞﾒｲﾝ解除設定をお願いいたします｡<br />
        ※ 最新のﾒｰﾙに記載された認証ｺｰﾄﾞのみが有効となりますのでご注意ください｡
    </font>
    <br />
    <br />
    <div align="center">
        <input type="submit" value="   認証する   " name="Verify" />
    </div>
    <br />
    @Html.ActionLink("戻る", "UseStartView", "User", null, new { @id = "Back" })
}