﻿@using MTI.CaradaIdProvider.Web.Models.ViewModels
@model MTI.CaradaIdProvider.Web.Models.ViewModels.UseStartVerifyCodeViewModel
@{
    ViewBag.Title = "利用開始認証";
    ViewBag.Url = "/User/UseStartVerifyCode";
    var emailTemp = TempData["UseStart"] as UseStartViewModel;
    TempData.Keep();
}
<h1 class="h2">CARADA ID 利用開始認証</h1>
<p>ご入力いただいたメールアドレス宛に認証コードを送信しました。</p>
<p>メールアドレス：@Html.Raw(@emailTemp.Email)</p>
<p class="margin-30">届いたメールに記載された認証コードを下記へ入力してください。</p>
@using (Html.BeginForm("UseStartVerifyCode", "User", FormMethod.Post, new { @autocomplete = "off", @class = "form-horizontal" }))
{
    <div class="form-group">
        <label for="VerifyCode" class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.VerifyCode)</label>
        <div class="col-sm-9">
            @Html.EditorFor(model => model.VerifyCode, new { htmlAttributes = new { @type = "text", @class = "form-control margin-10", @placeholder = "認証コード" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.VerifyCode)</span>
        </div>
    </div>
    <div class="form-group margin-20">
        <div class="col-sm-10 col-sm-offset-2">
            <small>しばらく経っても認証コードメールが届かない場合は、再度メールアドレス入力からやり直してください。</small>
            <ul class="indent">
                <li class="caution"><small>ドメイン指定受信をご利用の方は、「@@carada.jp」のドメイン解除設定をお願いいたします。</small></li>
                <li class="caution"><small>最新のメールに記載された認証コードのみが有効となりますのでご注意ください。</small></li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-push-4 col-sm-5 col-md-push-4 col-md-4 margin-10">
            <button type="submit" class="btn btn-lg btn-primary btn-block" name="Verify">認証する</button>
        </div>
        <div class="col-sm-pull-3 col-sm-2 col-md-pull-2 col-md-2">
            @Html.ActionLink("戻る", "UseStartView", "User", null, new { @id = "Back", @class = "btn btn-lg btn-cancel btn-block" })
        </div>
    </div>
}