﻿@model MTI.CaradaIdProvider.Web.Controllers.Mock.RpMockModel

@{
    ViewBag.Title = "AuthError";
}

<h2>Authentication Request Error</h2>
<br />
<div class="input-wrapper">
    error : [@Html.DisplayFor(model => model.error)]
</div>
<div class="input-wrapper">
    state : [@Html.DisplayFor(model => model.state)]<br />
    ※送信したstate ： [@Html.DisplayFor(model => model.request_state)]
</div>
<div class="input-wrapper">
    code : [@Html.DisplayFor(model => model.code)]<br />
    　※エラー時なので、この値は取得されないのが正常
</div>
<ul class="btn-group">
    <li>
        @Html.ActionLink("戻る", "Auth", "RpMock", null, new { @id = "Retrun", @class = "cp-btn-02" })
    </li>
</ul>
