﻿
@{
    ViewBag.Title = "RpMockAuth";
}

<h2>Authentication Requestモック</h2>
<br />
<form method="GET" action="@ViewBag.request_url" id="mock_form" name="mock_form">
    <div class="input-wrapper">
        <label class="label-bold" for="client_id">client_id</label>
        <input type="text" name="client_id" id="client_id" value="@ViewBag.client_id" />
    </div>
    <div class="input-wrapper">
        <label class="label-bold" for="scope">scope</label>
        <input type="text" name="scope" id="scope" value="@ViewBag.scope" />
    </div>
    <div class="input-wrapper">
        <label class="label-bold" for="response_type">response_type</label>
        <input type="text" name="response_type" id="response_type" value="@ViewBag.response_type" />
    </div>
    <div class="input-wrapper">
        <label class="label-bold" for="redirect_uri">redirect_uri</label>
        <input type="text" name="redirect_uri" id="redirect_uri" value="@ViewBag.redirect_uri" />
    </div>
    <div class="input-wrapper">
        <label class="label-bold" for="state">state</label>
        <input type="text" name="state" id="state" value="@ViewBag.state" />
    </div>
    <div class="btn-wrapper-02">
        <input type="button" name="authentication" id="authentication" value="送信" class="cp-btn-01">
    </div>
</form>

@section scripts{
    <script>
        // stateの値が存在しなければパラメータを削除する
        $(function () {
            $('#authentication').click(function () {
                if ($('#state').val() === '') {
                    $('#state').remove();
                }
                $('#mock_form').submit();
            });
        });
    </script>
}