﻿
@{
    ViewBag.Title = "TokenResponse";
}

<h2>Token Response</h2>
<br />
<div class="input-wrapper">
    HTTPステータスコード : [@ViewBag.code]
</div>
<div class="input-wrapper">
    ResponseBody : [@ViewBag.responseBody]
</div>
<br />
<h3>Response Body JSON</h3>
<div class="input-wrapper">
    access_token : [@ViewBag.access_token]<br/>
    ※アクセストークン
</div>
<div class="input-wrapper">
    token_type : [@ViewBag.token_type]<br />
    ※"bearer"固定(ただし大文字小文字は区別しない)
</div>
<div class="input-wrapper">
    expires_in : [@ViewBag.expires_in]<br />
    ※アクセストークンの有効期限を示す秒数
</div>
<div class="input-wrapper">
    id_token : [@ViewBag.id_token]<br />
    ※ID Token
</div>
<br />
<h3>ID Token</h3>
<div class="input-wrapper">
    JWT署名検証OK?：[@ViewBag.jwt_verify]
</div>
<div class="input-wrapper">
    JWTヘッダ : [@ViewBag.jwt_head]
</div>
<div class="input-wrapper">
    JWT署名 : [@ViewBag.jwt_signature]
</div>
<div class="input-wrapper">
    JWT本文 : [@ViewBag.jwt_body]
</div>
<div class="input-wrapper">
    iss : [@ViewBag.iss]<br />
    ※Issuer ID。OPを示すURL
</div>
<div class="input-wrapper">
    sub : [@ViewBag.sub]<br />
    ※Subject ID。ユーザーを一意に識別するID
</div>
<div class="input-wrapper">
    aud : [@ViewBag.aud]<br />
    ※audience。client_idと同値となる
</div>
<div class="input-wrapper">
    exp : [@ViewBag.exp]<br />
    ※ID Tokenの有効期限。UTCのエポック秒<br />
    　exp UTC : [@ViewBag.exp_utc]<br />
    　exp JST : [@ViewBag.exp_jst]
</div>
<div class="input-wrapper">
    iat : [@ViewBag.iat]<br />
    ※JWT発行時刻。UTCのエポック秒<br />
    　iat UTC : [@ViewBag.iat_utc]<br />
    　iat JST : [@ViewBag.iat_jst]
</div>
<div class="input-wrapper">
    参考<br />
    　現在日時(UTC)： [@ViewBag.now_utc]<br />
    　現在日時(JST)： [@ViewBag.now_jst]<br />
</div>
<ul class="btn-group">
    <li>
        @Html.ActionLink("戻る", "Auth", "RpMock", null, new { @id = "Retrun", @class = "cp-btn-02" })
    </li>
</ul>