﻿@model MTI.CaradaIdProvider.Web.Controllers.Mock.RpMockModel

@{
    ViewBag.Title = "Token Request";
}

<h2>Successful Authentication Response</h2>
<br />
<div class="input-wrapper" id="receiveCode">
    code : [@Html.DisplayFor(model => model.code)]<br />
</div>
<div class="input-wrapper" id="receiveState">
    state : [@Html.DisplayFor(model => model.state)]<br />
</div>
<div class="input-wrapper" id="sendState">
    ※前画面で自動生成したstate（参考） ： [@Html.DisplayFor(model => model.request_state)]<br />
    入力値を変えた場合は違う値になります。
</div>
<br />
<h2>Token Request</h2>
@using (Html.BeginForm("RequestToken", "RpMock", FormMethod.Post, new { @class = "cp-form" }))
{
    @Html.AntiForgeryToken()
    <div class="input-wrapper">
        grant_type : @Html.TextBoxFor(model => model.grant_type)<br />
    </div>
    <div class="input-wrapper">
        code : @Html.TextBoxFor(model => model.code)<br />
    </div>
    <div class="input-wrapper">
        redirect_uri : @Html.TextBoxFor(model => model.redirect_uri)<br />
    </div>
    <div class="input-wrapper">
        client_id : @Html.TextBoxFor(model => model.client_id)<br />
    </div>
    <div class="input-wrapper">
        client_secret : @Html.TextBoxFor(model => model.client_secret)<br />
    </div>
    <div class="btn-wrapper-02">
        <input type="submit" name="token" value="送信" class="cp-btn-01">
    </div>}






