﻿@model MTI.CaradaIdProvider.Web.Models.ViewModels.NewRegistMockViewModel
@{
    ViewBag.Title = "CARADA ID新規登録モック（利用開始前状態登録）";
}
<h2>利用開始前ユーザー登録モック</h2>
<br />
<div>
    <h4 class="cpt-heading-A03 m-t-25">@Html.Raw(@ViewBag.Message)</h4>
</div>
@using (Html.BeginForm("Index", "NewRegistMock", FormMethod.Post, new { @autocomplete = "off", @id = "mock_form" }))
{
    <div class="form-group" style="padding:10px; border:2px dotted #f2d779;">
        <p>
            @Html.RadioButtonFor(model => model.ProcessId, 1, new { @checked = "checked" })
            <text>新規登録</text>
        </p>
        <p style="padding-left: 1em;">
            <text>入力したCARADA IDで新しく利用開始前ユーザーを作成します。(CARADA ID重複不可)
        </p>
        <p>
            @Html.RadioButtonFor(model => model.ProcessId, 2)
            <text>ユーザーを削除して新規登録</text>
        </p>
        <p style="padding-left: 1em;">
            <text>入力したCARADA IDのユーザーを削除し、新しく利用開始前ユーザーを作成します。</text>
        </p>
    </div>

    <div class="form-group">
        <h4 class="cpt-heading-A03 m-t-25">@Html.DisplayNameFor(model => model.CaradaId)</h4>
        <p class="cpt-notice-B01 error m-t-10">@Html.ValidationMessageFor(model => model.CaradaId)</p>
        <p class="m-t-10">@Html.EditorFor(model => model.CaradaId, new { htmlAttributes = new { @type = "text", @class = "input-text-C01", @placeholder = "CARADA ID を入力してください", @style = "width: 30em;" } })</p>

        <h4 class="cpt-heading-A03 m-t-25">@Html.DisplayNameFor(model => model.Password)</h4>
        <p class="cpt-notice-B01 error m-t-10">@Html.ValidationMessageFor(model => model.Password)</p>
        <p class="m-t-10">@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "text", @class = "input-text-C01", @placeholder = "パスワードを入力してください", @style = "width: 30em;" } })</p>

    </div>

    <div class="form-group">
        <button type="submit" name="regist" id="regist" class="cp-btn-01">登録</button>
        @Html.ActionLink("ログイン画面へ", "LoginView", "User", null, new { @id = "Back", @class = "btn" })
    </div>
}
<hr />
<div id="hint">
    <div id="hint-carada_id">
        <strong>有効なIDの形式</strong><br />
        <ul>
            <li>半角小文字英字</li>
            <li>半角数字</li>
            <li>半角記号 : “.”(ピリオド)、“-”(ハイフン)、“_”(アンダーバー)の3種類</li>
            <li>128文字以内</li>
            <li>※記号で始まるIDは不可</li>
            <li>※記号の連続使用は不可</li>
        </ul>
    </div>
    <div id="hint-password">
        <strong>有効なパスワードの形式</strong><br />
        <ul>
            <li>半角大文字英字</li>
            <li>半角小文字英字</li>
            <li>半角数字</li>
            <li>半角記号 : !　"　#　$　%　&amp;　'　(　)　=　~　|　-　^　\　@@　[　;　:　]　,　.　/　`　{　+　*　}　&lt; &gt;　?　_</li>
            <li>8文字以上、128文字以内</li>
            <li>半角英字（大小は問わない）と半角数字が混在すること</li>
        </ul>
    </div>
</div>
<hr />
