/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
@media (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
html, body {
  width: 100%;
  overflow-x: hidden;
}
body.modal-open{
  position: fixed;
}
header h1 {
  display: inline;
}
.error {
  max-width: 640px;
}
@media (max-width: 767px) {
  .error {
    width: 100%;
  }
}
.table {
  margin-bottom: 0;
}
.table>tbody>tr:first-child>td, 
.table>tbody>tr:first-child>th {
  border-top: 0;
}
.app-download .apple {
  max-width: 200px;
}
.app-download .google {
  max-width: 200px;
}

a,
.btn {
  -moz-transition: color 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
  -webkit-transition: color 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
  -o-transition: color 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
  -ms-transition: color 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
  transition: color 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
}
hr {
  border-color: #ccc; 
}
.hr-56 {
  margin-top: 56px;
  margin-bottom: 56px;
}
.hr-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.hr-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.hr-36 {
    margin-top: 36px;
    margin-bottom: 36px;
}
.bg-yellow {
  background-color: #fffcee;
}
.bg-orange {
  background-color: #fef3e3;
}
.bg-blue {
  background-color: #ebf7fd;
}
.bg-stripe {
    background-image: -moz-linear-gradient(-45deg, #fffaee 30%, #fffaaa 30%, #fffaaa 50%, #fffaee 50%, #fffaee 80%, #fffaaa 80%, #fffaaa);
    background-image: -o-linear-gradient(-45deg, #fffaee 30%, #fffaaa 30%, #fffaaa 50%, #fffaee 50%, #fffaee 80%, #fffaaa 80%, #fffaaa);
    background-image: -webkit-linear-gradient(-45deg, #fffaee 30%, #fffaaa 30%, #fffaaa 50%, #fffaee 50%, #fffaee 80%, #fffaaa 80%, #fffaaa);
    background-image: -ms-linear-gradient(-45deg, #fffaee 30%, #fffaaa 30%, #fffaaa 50%, #fffaee 50%, #fffaee 80%, #fffaaa 80%, #fffaaa);
    background-image: linear-gradient(-45deg, #fffaee 30%, #fffaaa 30%, #fffaaa 50%, #fffaee 50%, #fffaee 80%, #fffaaa 80%, #fffaaa);
    background-size: 8px 8px;
}
.border-yellow {
  border: 3px solid #fff100 !important;
}
.abso {
  position: absolute;
}
.abso.coach {
  bottom: 15px;
  left: 50px;
}
.screen {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.screen img {
  width: 65%;
  max-width: 300px;
}
.screen.double img {
  width: 60%;
}
.screen.double img:first-child {
  position: relative;
  -moz-transform: translateX(-33%);
  -webkit-transform: translateX(-33%);
  -o-transform: translateX(-33%);
  -ms-transform: translateX(-33%);
  transform: translateX(-33%);
}
.screen.double img:last-child {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-15%);
  -webkit-transform: translateX(-15%);
  -o-transform: translateX(-15%);
  -ms-transform: translateX(-15%);
  ransform: translateX(-15%);
}
h1 .body-logo,
.h1 .body-logo {
  height: 40px;
}
h2 .body-logo,
.h2 .body-logo {
  height: 32px;
}
h3 .body-logo,
.h3 .body-logo {
  height: 32px;
}
h4 .body-logo,
.h4 .body-logo {
  height: 20px;
}
@media (max-width: 480px) {
h1 .body-logo,
.h1 .body-logo {
  height: 32px;
}
h2 .body-logo,
.h2 .body-logo {
  height: 26px;
}
h3 .body-logo,
.h3 .body-logo {
  height: 26px;
}
}
.fill-w {
  width: 100%;
}
.br {
  display: inline-block;
}
.margin-0 {
  margin-bottom: 0 !important;
}
.margin-5 {
  margin-bottom: 5px !important;
}
.margin-10 {
  margin-bottom: 10px !important;
}
.margin-20 {
  margin-bottom: 20px !important;
}
.margin-30 {
  margin-bottom: 30px !important;
}
.margin-36 {
  margin-bottom: 36px !important;
}
.margin-40 {
  margin-bottom: 40px !important;
}
.margin-50 {
  margin-bottom: 50px !important;
}
@media (max-width: 767px) {
  .xs-margin-10 {
    margin-bottom: 10px !important;
  }
  .xs-margin-15 {
    margin-bottom: 15px !important;
  }
}

li.caution {
  list-style: none;
  text-indent: 0em;
}
li.caution:before {
  content: "※ ";
  margin-left: -1em;
}
ul.indent,
ol.indent {
  margin-left: -1.5em;
}
.border-orange {
  border: 4px solid #fac385;
}
/* row ================================================================== */
.content {
  padding-top: 64px;
  padding-bottom: 64px;
  position: relative;  
}
.row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.row:first-child {
  margin-top: 0;
}
.row:last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
.content {
  padding-top: 36px;
  padding-bottom: 36px;
  position: relative;  
}
  .row {
    margin-left: -20px;
    margin-right: -20px;
  }
}

/* col ================================================================== */
@media (max-width: 767px) {
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .col-xs-1:last-child, .col-sm-1:last-child, .col-md-1:last-child, .col-lg-1:last-child, .col-xs-2:last-child, .col-sm-2:last-child, .col-md-2:last-child, .col-lg-2:last-child, .col-xs-3:last-child, .col-sm-3:last-child, .col-md-3:last-child, .col-lg-3:last-child, .col-xs-4:last-child, .col-sm-4:last-child, .col-md-4:last-child, .col-lg-4:last-child, .col-xs-5:last-child, .col-sm-5:last-child, .col-md-5:last-child, .col-lg-5:last-child, .col-xs-6:last-child, .col-sm-6:last-child, .col-md-6:last-child, .col-lg-6:last-child, .col-xs-7:last-child, .col-sm-7:last-child, .col-md-7:last-child, .col-lg-7:last-child, .col-xs-8:last-child, .col-sm-8:last-child, .col-md-8:last-child, .col-lg-8:last-child, .col-xs-9:last-child, .col-sm-9:last-child, .col-md-9:last-child, .col-lg-9:last-child, .col-xs-10:last-child, .col-sm-10:last-child, .col-md-10:last-child, .col-lg-10:last-child, .col-xs-11:last-child, .col-sm-11:last-child, .col-md-11:last-child, .col-lg-11:last-child, .col-xs-12:last-child, .col-sm-12:last-child, .col-md-12:last-child, .col-lg-12:last-child {
    margin-bottom: 0px;
  }
}
.vertical-body {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
}
.vertical-body.text-center {
  margin: 0 auto;
}
.vertical-top {
  display: table-cell;
  vertical-align: top;
}
.vertical-middle {
  display: table-cell;
  vertical-align: middle;
}
.vertical-bottom {
  display: table-cell;
  vertical-align: bottom;
}

/* ぱんくず ================================================================== */
.breadcrumb {
  padding: 0;
  margin-bottom: 0px;
  list-style: none;
  background-color: #000;
  border-radius: 0;
  color: #fff;
}
.breadcrumb ul {
  padding: 0;
}
.breadcrumb li {
  list-style: none;
  float: left;
  height: 36px;
  padding-top: 8px;
  padding-right: 30px;
  position: relative;
}
.breadcrumb li:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 36px;
  top: 0;
  right: 8px;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 15px solid #555;
}
.breadcrumb li:after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 36px;
  top: 0;
  right: 10px;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 15px solid #000;
}
.breadcrumb li:last-child:before {
  display: none;
}
.breadcrumb li:last-child:after {
  display: none;
}
.breadcrumb li:first-child {
  padding-left: 0px;
}
.breadcrumb li:last-child {
  padding-right: 0px;
}

/* ジャンボトロン ================================================================== */
.jumbotron {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    background-image: -moz-linear-gradient(-45deg, #fffaee 30%, #fffaaa 30%, #fffaaa 50%, #fffaee 50%, #fffaee 80%, #fffaaa 80%, #fffaaa);
    background-image: -o-linear-gradient(-45deg, #fffaee 30%, #fffaaa 30%, #fffaaa 50%, #fffaee 50%, #fffaee 80%, #fffaaa 80%, #fffaaa);
    background-image: -webkit-linear-gradient(-45deg, #fffaee 30%, #fffaaa 30%, #fffaaa 50%, #fffaee 50%, #fffaee 80%, #fffaaa 80%, #fffaaa);
    background-image: -ms-linear-gradient(-45deg, #fffaee 30%, #fffaaa 30%, #fffaaa 50%, #fffaee 50%, #fffaee 80%, #fffaaa 80%, #fffaaa);
    background-image: linear-gradient(-45deg, #fffaee 30%, #fffaaa 30%, #fffaaa 50%, #fffaee 50%, #fffaee 80%, #fffaaa 80%, #fffaaa);
    background-size: 8px 8px;
}
.jumbotron .container {
  padding-top: 56px;
  padding-bottom: 56px;
  position: relative;
}
.jumbotron .h1, .jumbotron h1 {
    font-size: 56px;
    line-height: 1.2;
}
@media (max-width: 767px) {
  .jumbotron .container {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
@media (max-width: 479px) {
  .jumbotron .h1, .jumbotron h1 {
      font-size: 36px;
      margin-bottom: 20px;
  }
  .jumbotron p {
    font-size: 14px;
  }
}

/* お知らせ ================================================================== */
.news {
  /*background: #f1f1f1;*/
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}
.news h2 {
  font-size: 18px;
  line-height: 1;
  margin: 0;
}
.news a {
  color: #000;
}
.news .table {
  margin: 0;
  table-layout: fixed;
}
.news .table>tbody>tr>td,
.news .table>tbody>tr>th {
  padding: 0px;
  vertical-align: middle;
  border: 0;
}
.news .table>tbody>tr>th {
  width: 120px;
}
.news .title {
  width: 460px;
  overflow: hidden;
}
.news .title a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
}
.news div:first-child {
  position: relative;
  margin-top: -10px;
  padding: 10px 20px;
}
@media (min-width: 992px) {
  .news .title {
    width: 670px;
  }
}
@media (max-width: 767px) {
  .news .table>tbody>tr>th {
    width: 40px;
  }
  .news time {
    display: block;
    font-size: 75%;
  }
  .news .title {
    width: 90%;
    overflow: hidden;
  }
}
/* リンク ================================================================== */
nav a,
nav a:focus,
nav .btn-link,
nav .btn-link:focus,
footer a,
footer a:focus,
footer .btn-link,
footer .btn-link:focus,
.breadcrumb a,
.breadcrumb a:focus,
.breadcrumb .btn-link,
.breadcrumb .btn-link:focus
{
  color: #aaa;
}
nav a:hover,
nav .btn-link:hover,
footer a:hover,
footer .btn-link:hover,
.breadcrumb a:hover,
.breadcrumb .btn-link:hover
{
  color: #000;
  text-decoration: none;
}

/* フォントサイズ ================================================================== */
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  line-height: 1.2;
  color: #000;
}
.line-height-18 > * {
  line-height: 1.8;
}
h1,h2,h3,.h1,.h2,.h3 {
  margin-top: 0px;
  margin-bottom: 0.5em;
}
h4,h5,h6,.h4,.h5,.h6 {
  margin-top: 0px;
  margin-bottom: 0.25em;
}
@media (max-width: 480px) {
  h1,.h1 {
    font-size: 24px;
  }
  h2,.h2 {
    font-size: 21px;
  }
  h3,.h3 {
    font-size: 21px;
  }
  h4,.h4 {
    font-size: 16px;
  }
  h5,.h5 {
    font-size: 14px;
  }
  h6,.h6 {
    font-size: 12px;
  }
}
h1 .body-logo,h2 .body-logo,h3 .body-logo,h4 .body-logo,h5 .body-logo,h6 .body-logo,
.h1 .body-logo,.h2 .body-logo,.h3 .body-logo,.h4 .body-logo,.h5 .body-logo,.h6 .body-logo {
  vertical-align: baseline;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
strong {
  font-weight: normal;
  background-image: linear-gradient(transparent 50%, #fffacc 50%, #fffacc);
}

div > .glyphicon {
  margin-right: 10px;
}
@media (max-width: 480px) {
  div > .glyphicon {
    margin-right: 5px;
  }
}
.blue {
  color: #1fbaec;
}
.orange {
  color: #fabd03;
}
.gray {
  color: #aaa;
}
.x-lg {
  font-size: 180%;
  line-height: 0.9;
}
.lg {
  font-size: 150%;
  line-height: 1;
}
.ruby {
  margin-top: 0.5em;
}
.ruby-inner > span {
  position: relative;
}
.ruby-inner > span:after {
  content: "・";
  position: absolute;
  left: 0.11em;
  top: -0.9em;
  font-size: 80%;
}

/* フォントカラー ================================================================== */

.text-red {
  color: #EB0000;
  font-size: 10px;
  vertical-align:super;
}

@media (max-width: 767px) {
 .text-red {
  vertical-align:super;
  color: #EB0000;
  font-size: 12px;
  
}
}


.text-red-l {
  color: #EB0000;
  font-size: 16px;
  vertical-align: bottom;
    font-weight: bold;
}

@media (max-width: 767px) {
.text-red-l {
  color: #EB0000;
  font-size: 16px;
  vertical-align: bottom;
    font-weight: bold;
  
}
}

/* ボタン ================================================================== */
.btn-default,
.btn-primary,
.btn-accent,
.btn-cancel,
.btn-warning,
.btn-danger {
  color: #fff;
  border: 0;
  border-radius: 4px;
}
.btn-default:hover,
.btn-primary:hover,
.btn-accent:hover,
.btn-cancel:hover,
.btn-warning:hover,
.btn-danger:hover,
.btn-default:active,
.btn-primary:active,
.btn-accent:active,
.btn-cancel:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-accent.active,
.btn-cancel.active,
.btn-warning.active,
.btn-danger.active {
  color: #fff;
  border: 0;
  -moz-box-shadow: inset 0px 0px 0px 997px rgba(0, 0, 0, .15);
  -o-box-shadow: inset 0px 0px 0px 997px rgba(0, 0, 0, .15);
  -webkit-box-shadow: inset 0px 0px 0px 997px rgba(0, 0, 0, .15);
  -ms-box-shadow: inset 0px 0px 0px 997px rgba(0, 0, 0, .15);
          box-shadow: inset 0px 0px 0px 997px rgba(0, 0, 0, .15);
}
.btn-default.disabled,
.btn-primary.disabled,
.btn-accent.disabled,
.btn-cancel.disabled,
.btn-warning.disabled,
.btn-danger.disabled,
.btn-default[disabled],
.btn-primary[disabled],
.btn-accent[disabled],
.btn-cancel[disabled],
.btn-warning[disabled],
.btn-danger[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-accent,
fieldset[disabled] .btn-cancel,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-danger {
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
          box-shadow: none;
}
}
.btn-default .badge,
.btn-primary .badge,
.btn-accent .badge,
.btn-cancel .badge,
.btn-warning .badge,
.btn-danger .badge {
  text-shadow: none;
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn,
.btn.disabled:hover,
.btn[disabled]:hover,
fieldset[disabled] .btn:hover,
.btn.disabled:focus,
.btn[disabled]:focus,
fieldset[disabled] .btn:focus,
.btn.disabled.focus,
.btn[disabled].focus,
fieldset[disabled] .btn.focus,
.btn.disabled:active,
.btn[disabled]:active,
fieldset[disabled] .btn:active,
.btn.disabled.active,
.btn[disabled].active,
fieldset[disabled] .btn.active {
  background-color: #e1e1e1;
  background-image: none;
}
.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  background: #838383;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background: #fabd03;
}
.btn-accent,
.btn-accent:hover,
.btn-accent:focus,
.btn-accent:active,
.btn-accent.active {
  background: #1fbaec;
}
.btn-cancel,
.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel:active,
.btn-cancel.active {
  background: #b5b5b5;
}
.btn-danger,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  background: #ec5921;
}
.btn-outline {
  border: 2px solid #000;
  color: #000;
  background: rgba(0,0,0,0); 
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  border: 2px solid #fff;
  color: #fff;
  background: rgba(0,0,0,0.5); 
}
.btn.btn-outline {
    padding: 4px 10px;
    border-radius: 5px;
}
.btn-group-lg > .btn.btn-outline, .btn-lg.btn-outline {
    padding: 8px 14px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px;
}
.btn-group-sm > .btn.btn-outline, .btn-sm.btn-outline {
    padding: 3px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
}
.btn-group-xs > .btn.btn-outline, .btn-xs.btn-outline {
    padding: 0px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
}

.xs-img-small {
  width: 100%;
}
@media (max-width: 767px) {
  .xs-btn-center {
      display: block;
      margin: 0 10%;
      width: 80%;
    }
  .xs-img-small {
    width: 80%;
    }
  .xs-center {
    text-align: center;
  }
  .xs-center .pull-left,
  .xs-center .pull-right {
    float:none !important;
  }
}

.contact .btn {
  display: block;
  width: 100%;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contact .btn small {
  font-size: 15px;
}

@media (max-width: 767px) {
  .contact .btn {
    font-size: 21px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

/* ラベル ================================================================== */
.label {
  display: inline;
  padding: .2em .6em .2em;
  position: relative;
  top: -0.2em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: .25em;
}
.label-default {
  background: #838383;
}
.label-primary {
  background: #fabd03;
}
.label-accent {
  background: #1fbaec;
}
.label-danger {
  background: #ec5921;
}
.label-point {
  display: inline-block;
  position: relative;
  line-height: 1;
}
.label-point:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
}
.label-point-lg {
  border-radius: 35px 35px 35px 35px;
  padding-top: 15px;
  font-size: 36px;
  width: 70px;
  height: 70px;
  left: 0px;
  margin-right: 20px;
}
.label-point-lg.label-accent:after {
  top: 13px;
  left: 62px;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 18px solid #1fbaec;
  border-right: 22px solid transparent;
}
.label-point-lg.label-primary:after {
  top: 13px;
  left: 62px;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 18px solid #fabd03;
  border-right: 22px solid transparent;
}
.label-point-md {
  border-radius: 24px;
  padding-top: 11px;
  font-size: 24px;
  width: 48px;
  height: 48px;
  left: 0px;
  margin-right: 12px;
}
.label-point-md.label-accent:after {
  top: 7px;
  left: 40px;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 13px solid #1fbaec;
  border-right: 17px solid transparent;
}
.label-point-md.label-primary:after {
  top: 7px;
  left: 40px;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 13px solid #fabd03;
  border-right: 17px solid transparent;
}
@media (max-width: 767px) {
  .label-point-lg {
    border-radius: 20px;
    padding-top: 8px;
    font-size: 24px;
    width: 40px;
    height: 40px;
    left: 0;
    margin-right: 12px;
  }
  .label-point-lg.label-accent:after {
    top: 6px;
    left: 34px;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 11px solid #1fbaec;
    border-right: 14px solid transparent;
  }
  .label-point-lg.label-primary:after {
    top: 6px;
    left: 34px;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 11px solid #fabd03;
    border-right: 14px solid transparent;
  }
  .label-point-md {
    border-radius: 12px;
    padding-top: 5px;
    font-size: 14px;
    width: 24px;
    height: 24px;
    left: 0;
    margin-right: 5px;
  }
  .label-point-md.label-accent:after {
    top: 4px;
    left: 21px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 5px solid #1fbaec;
    border-right: 8px solid transparent;
  }
  .label-point-md.label-primary:after {
    top: 6px;
    left: 34px;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 11px solid #fabd03;
    border-right: 14px solid transparent;
  }
}


/* バッヂ ================================================================== */
.badge {
  background: #ec5921;
}
.list-group-item.active > .badge,
 .nav-pills > .active > a > .badge {
  color: #000;
  background-color: #FFF;
}

/* サムネイル ================================================================== */
.thumbnail,
.img-thumbnail {
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
      -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}
@media (max-width: 767px) {
  .img-circle {
    padding: 0;  
  }
}
.img-circle-yellow {
  border: 4px solid #fff100;
}
.img-circle-orange {
  border: 4px solid #fac385;
}
@media (max-width: 767px) {
  .profile {
    width: 70% !important;
    max-width: 300px;
  }
}
/* ドロップダウンメニュー ================================================================== */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown.open .dropdown-toggle .caret {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

/* ナビ ================================================================== */
.nav-pills > li.active > a, 
.nav-pills > li.active > a:focus, 
.nav-pills > li.active > a:hover {
    color: #000;
    background-color: #fff100;
}
.nav>li>a {
    position: relative;
    display: block;
    padding-left: 12px;
    padding-right: 12px;
}
/* ナビバー ================================================================== */
.navbar + * {
  margin-top: 72px;
}
@media (max-width: 767px) {
  .navbar + * {
    margin-top: 50px;
  }
  .breadcrumb + * {
    margin-top: 50px;
  }
}
.navbar-inverse {
  background: #fff100;
  border: 0;
  height: 72px;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
  background: #fff100;
  color: #000;
}
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #fff;
  color: #000;
}
.navbar-brand {
  width: 180px;
  height: 72px;
  color: #000;
  padding-top: 20px;
}
.navbar-brand > img {
  margin: 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: #000;
}
.navbar-inverse .navbar-nav>li>a:focus {
  color: #000;
  background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color: #aaa;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .active > a:hover {
  background: transparent;
  color: #000;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background: transparent;
  color: #aaa;
}

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
.navbar-inverse .btn {
  margin-top: 19px;
  margin-left: 15px;
}
.navbar-inverse .btn-lg {
  margin-top: 14px;
}
.navbar-toggle {
  padding: 9px 0;
  border: 0;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #000;
}
@media (max-width: 767px) {
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
      margin-right: -20px;
      margin-left: -20px;
  }
  .navbar-inverse {
    height: 50px;
    padding-top: 0px;
  }
  .navbar-inverse .navbar-brand {
    width: 150px;
    height: 50px;
    color: #000;
    padding-top: 12px;
    margin-left: -20px;
  }  
  .navbar-inverse nav {
    margin-left: -20px;
    margin-right: -20px;
  }  
  .navbar-inverse .btn-sm {
    margin-top: 11px;
    margin-right: 15px;
  }
  .navbar-inverse .navbar-nav > li {
      border-bottom: 1px solid #ddd;
      text-align: center;
  }
  .navbar-collapse {
    background: #fff;
  }
  .navbar-nav {
      margin: 0 -15px;
  }
  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
      background: #f7f7f7;
      color: #000;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #aaa;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff100;
}

.navbar-toggle.collapsed .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle.collapsed .top,
.navbar-toggle.collapsed .bottom {
    transform: rotate(0deg) translate(0px);
    -webkit-transform: rotate(0deg) translate(0px);
    transition: 0.3s ease-in-out;
}
.navbar-toggle .top {
    transform: rotate(45deg) translate(4px,4px);
    -webkit-transform: rotate(45deg) translate(4px,4px);
    transition: 0.3s ease-in-out;
}
.navbar-toggle.collapsed .middle {
    opacity: 1;
    transition: 0.2s ease-in-out;
}
.navbar-toggle .middle {
    opacity: 0;
    transition: 0.2s ease-in-out;
}
.navbar-toggle .bottom {
    transform: rotate(-45deg) translate(4px,-4px);
    -webkit-transform: rotate(-45deg) translate(4px,-4px);
    transition: 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .navbar-nav {
      float: left;
      margin: 0 0px 0 0;
  }
  .navbar-nav>li>a {
      padding-top: 26px;
      padding-bottom: 26px;
      padding-left: 0px;
      font-size: 13px;
  }
}
@media (min-width: 992px) {
  .navbar > .container {
    width: 970px;
  }
  .navbar-nav {
      float: left;
      margin: 0 10px 0 0;
  }
  .navbar-nav>li>a {
      padding-left: 12px; 
  }
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    background-color: #f1f1f1;
    text-align: center;
    padding: 0;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #000; 
  }
  .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
    padding: 10px 15px 10px 15px;
    border-top: 1px solid #ddd;
  }
}

/* アラート ================================================================== */
.alert {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
}
.alert-success {
  border-color: #b2dba1;
}
.alert-info {z
  border-color: #9acfea;
}
.alert-warning {
  border-color: #f5e79e;
}
.alert-danger {
  border-color: #dca7a7;
}

/* プログレスバー ================================================================== */
.progress {
    height: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 2px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05) inset;
}
.progress-bar {
  background: #fff100;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.05) inset;
}

/* リストグループ ================================================================== */
.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background: #aaa;
  border: #ddd;
}
.list-group-item.active .badge,
.list-group-item.active:hover .badge,
.list-group-item.active:focus .badge {
  text-shadow: none;
}
.list-group-item.active .list-group-item-text, 
.list-group-item.active:focus .list-group-item-text, 
.list-group-item.active:hover .list-group-item-text {
    color: #fff;
}

/* パネル ================================================================== */
.panel {
  margin-bottom: 0;
}
.panel-primary {
    border-color: #000;
}
.panel-primary > .panel-heading {
    color: #000;
    background-color: #fff100;
    border-color: #000;
}
.panel-success {
    border-color: #D6E9C6;
}
.panel-success > .panel-heading {
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}
.panel-accent {
    border-color: #1fbaec;
}
.panel-accent > .panel-heading {
    color: #31708F;
    background-color: #bce3f8;
    border-color: #1fbaec;
}
.panel-yellow {
  border-radius: 0;
  border: 2px solid #fff100;
}
.panel-yellow > .panel-heading {
    color: #000;
    background-color: #fff100;
    border: 0;
}

/* Wells ================================================================== */
.well {
  border-color: #dcdcdc;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.well-yellow {
  background: #fff100;
}
.well-white {
  background: #fff;
}
.well {
  min-height: 20px;
  padding: 36px;
  margin-bottom: 20px;
}
.well-sm {
  padding: 15px;
  border-radius: 3px;
}
@media (max-width: 767px) {
  .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
  }
}

/* Carousel ================================================================== */
.carousel-inner {
  height: 440px;
}
.carousel-inner .item,
.carousel-inner .item .container {
  height: 100%;
}
@media (max-width: 767px) {
  .carousel-inner {
    height: 300px;
  }
}

#main-visual,
#main-visual02,
#main-visual03,
#main-visual04 {
  background-size: auto 100%;
  background-position: center;
  height: 100%;
}

.carousel-control {
  position: absolute;
  top: 50%;
  left: 0;
  width: 67px;
  height: 67px;
  border-radius: 30px;
  background: transparent;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: none;
  opacity: 1;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.carousel-control.left {
  background-image: url(../img/prev.png);
  background-size: 100%;
}
.carousel-control.right {
  background-image: url(../img/next.png);
  background-size: 100%;
}
@media (max-width: 767px) {
  .carousel-control {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background: transparent;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    opacity: 1;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .carousel-control.left {
    margin-left: -30px;
  }
  .carousel-control.right {
    margin-right: -30px;
  }
}
@media (min-width: 768px) {
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
      margin-right: -15px;
  }
}
@media (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
      width: 30px;
      height: 30px;
      margin-top: -15px;
      font-size: 30px;
  }
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: 50%;
    margin-right: -10px;
    border-radius: 50%;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

/* Modal ================================================================== */
.modal-body {
 overflow: auto;

}

/* Video ================================================================== */
.video-mask {
  display: block;
  z-index: 999;
  position: absolute;
  background: transparent;
  width: 100%;
  height: 90%;
}

/* Accordion ================================================================== */
.list-group .panel {
  border-radius: 0;
  margin-bottom: -2px;
}
.list-group-item {
  padding: 15px 20px;
}
.panel.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.panel.list-group-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.panel.list-group-item {
  padding: 0;
}
.list-group .panel-default>.panel-heading {
  border: 0;
}
.accordion .panel-heading {
  background: transparent;
  display: block;
  padding: 0;
}
.accordion .panel.list-group-item {
  padding: 0;
}
.accordion .panel-heading a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
}
.accordion .panel-body {
  background: #f8f8f8;
}



/* ページネーション ================================================================== */


.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #000000;
  cursor: default;
  background-color: #fff100;
  border-color: #ddd;
}



/* Footer ================================================================== */
footer {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #dcdcdc;
  background: url(../img/communication_color_mid.jpg) no-repeat;
  background-position: right;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  display: inline-block;
}
@media (max-width: 767px) {
  footer {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    background-image: none;
  }
  footer ul li {
    padding: 0 5px 5px 5px;
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  footer {
    background-size: 150px;
  }
  footer ul {
    padding-left: 120px;
    padding-right: 120px;
    font-size: 12px;
  }
  footer ul li {
    padding: 0 5px;
  }
}
@media (min-width: 992px) {
  footer {
    background-size: 180px;
  }
  footer ul {
    font-size: 13px;
  }
  footer ul li {
    padding: 0 10px;
  }
}


/* Form ================================================================== */
select.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
@media (max-width: 767px) {
  form .col-xs-1, form .col-sm-1, form .col-md-1, form .col-lg-1, form .col-xs-2, form .col-sm-2, form .col-md-2, form .col-lg-2, form .col-xs-3, form .col-sm-3, form .col-md-3, form .col-lg-3, form .col-xs-4, form .col-sm-4, form .col-md-4, form .col-lg-4, form .col-xs-5, form .col-sm-5, form .col-md-5, form .col-lg-5, form .col-xs-6, form .col-sm-6, form .col-md-6, form .col-lg-6, form .col-xs-7, form .col-sm-7, form .col-md-7, form .col-lg-7, form .col-xs-8, form .col-sm-8, form .col-md-8, form .col-lg-8, form .col-xs-9, form .col-sm-9, form .col-md-9, form .col-lg-9, form .col-xs-10, form .col-sm-10, form .col-md-10, form .col-lg-10, form .col-xs-11, form .col-sm-11, form .col-md-11, form .col-lg-11, form .col-xs-12, form .col-sm-12, form .col-md-12, form .col-lg-12 {
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .form-horizontal .form-group {
      margin-right: -20px;
      margin-left: -20px;
  }
}

.no-input {
    display: block;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 0;
    padding-bottom: 0;
}
.account {
  padding: 10px 0 20px;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
.account > .col-xs-1, .account > .col-sm-1, .account > .col-md-1, .account > .col-lg-1, .account > .col-xs-2, .account > .col-sm-2, .account > .col-md-2, .account > .col-lg-2, .account > .col-xs-3, .account > .col-sm-3, .account > .col-md-3, .account > .col-lg-3, .account > .col-xs-4, .account > .col-sm-4, .account > .col-md-4, .account > .col-lg-4, .account > .col-xs-5, .account > .col-sm-5, .account > .col-md-5, .account > .col-lg-5, .account > .col-xs-6, .account > .col-sm-6, .account > .col-md-6, .account > .col-lg-6, .account > .col-xs-7, .account > .col-sm-7, .account > .col-md-7, .account > .col-lg-7, .account > .col-xs-8, .account > .col-sm-8, .account > .col-md-8, .account > .col-lg-8, .account > .col-xs-9, .account > .col-sm-9, .account > .col-md-9, .account > .col-lg-9, .account > .col-xs-10, .account > .col-sm-10, .account > .col-md-10, .account > .col-lg-10, .account > .col-xs-11, .account > .col-sm-11, .account > .col-md-11, .account > .col-lg-11, .account > .col-xs-12, .account > .col-sm-12, .account > .col-md-12, .account > .col-lg-12 {
  margin-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
}
.account .match-height {
  display: table;
}
.account .match-height > * {
  display: table-cell;
  vertical-align: middle;
}
.account .h5 {
  font-weight: bold;
}
/*# sourceMappingURL=bootstrap-theme.css.map */
