﻿@{
    ViewBag.Title = "ﾒﾝﾃﾅﾝｽ中";
    ViewBag.Url = "/Error/Maintenance";
}
<div style="background-color:#313131;color:white;font-size:small;">
    CARADA ID ﾒﾝﾃﾅﾝｽ中
</div>
<br />
<div style="font-size:x-small;">
    @Html.Raw(@ViewBag.ERROR_MESSAGE)
</div>

