﻿@{
    ViewBag.Title = "ｴﾗｰ";
    ViewBag.Url = "/Error/Timeout";
}
@using (Html.BeginForm("Return", "Error", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div style="background-color:#313131;color:white;font-size:small;">
        CARADA ID ｴﾗｰ
    </div>
    <br />
    <div style="font-size:x-small;">
        @Html.Raw(@ViewBag.ERROR_MESSAGE)
        <br />
        <br />
        <input type="submit" value="戻る" name="Return" />
    </div>
}
