﻿@{
    ViewBag.Title = "エラー";
    ViewBag.Url = "/Error/Timeout";
}
@using (Html.BeginForm("Return", "Error", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h1 class="margin-20">エラー</h1>
    @Html.Raw(@ViewBag.ERROR_MESSAGE)
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <button type="submit" class="btn btn-lg btn-cancel btn-block" name="Return">戻る</button>
        </div>
    </div>
}
