﻿@using MTI.CaradaIdProvider.Web.Utilities
@using MTI.CaradaIdProvider.Web.Models.ViewModels
@model MTI.CaradaIdProvider.Web.Models.ViewModels.EmailResetViewModel
@{
    ViewBag.Title = "メールアドレス再設定";
    ViewBag.Url = "/UserSettings/EmailReset";

    var emailReset = TempData["EmailReset"] as EmailResetViewModel;
    TempData.Keep();

    var securityQuestion = SelectListUtility.ConvertDicToSelectList(emailReset.SerializeItems);

}
<h1 class="h2">CARADA ID メールアドレス再設定</h1>
<p class="margin-30">CARADA IDとパスワードと秘密の質問への回答を入力することによって、メールアドレスを再設定できます。</p>
@using (Html.BeginForm("EmailReset", "UserSettings", FormMethod.Post, new { @autocomplete = "off", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="CaradaId" class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.CaradaId)</label>
        <div class="col-sm-9">
            @Html.EditorFor(model => model.CaradaId,  new { htmlAttributes = new {@type = "text", @class = "form-control", @placeholder = "CARADA ID"  } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.CaradaId)</span>
        </div>
    </div>
    <div class="form-group">
        <label for="Password" class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.Password)</label>
        <div class="col-sm-9">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @class = "form-control", @placeholder = "パスワード"} })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Password)</span>
        </div>
    </div>
    <div class="form-group">
        <label for="SecurityQuestionSelectId" class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.SecurityQuestionSelectId)</label>
        <div class="col-sm-9">
            @Html.DropDownListFor(model => model.SecurityQuestionSelectId, securityQuestion, new { @class = "form-control btn btn-dropdown" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.SecurityQuestionSelectId)</span>
        </div>
    </div>
    <div class="form-group margin-30">
        <label for="Answer" class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.Answer)</label>
        <div class="col-sm-9">
            @Html.EditorFor(model => model.Answer, new { htmlAttributes = new {@type = "text", @class = "form-control", @placeholder = "全角ひらがな50文字以内で入力してください。" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Answer)</span>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label for="Email" class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.Email)</label>
        <div class="col-sm-9">
            @Html.EditorFor(model => model.Email,  new { htmlAttributes = new { @type = "email", @class = "form-control", @data_rule_email = "false", @placeholder = "新しいメールアドレス" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Email)</span>
        </div>
    </div>
    <div class="form-group margin-20">
        <div class="col-sm-9 col-sm-offset-3">
            <ul class="indent">
                <li class="caution"><small>ドメイン指定受信をご利用の方は、「@@carada.jp」 のドメイン解除設定をお願いいたします。</small></li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-push-5 col-sm-5 col-md-push-5 col-md-4 margin-10">
            <button type="submit" class="btn btn-lg btn-primary btn-block" name="Reset">再設定する</button>
        </div>
        <div class="col-sm-pull-2 col-sm-2 col-md-pull-1 col-md-2">
            @Html.ActionLink("戻る", "LoginView", "User", null, new { @class = "btn btn-lg btn-cancel btn-block", @id = "Back" })
        </div>
    </div>
}