﻿@{
    ViewBag.Title = "メールアドレス変更確認";
    ViewBag.Url = "/UserSettings/EmailChangeConfirm";
}
<h1 class="h2">CARADA ID メールアドレス変更確認</h1>
<p class="margin-30">入力内容をご確認の上、登録ボタンから完了させてください。</p>
@using (Html.BeginForm("EmailChangeConfirm", "UserSettings", FormMethod.Post, new { @autocomplete = "off", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="col-sm-3 control-label" for="NewEmail">新しいメールアドレス</label>
        <div class="col-sm-9">
            <span class="form-control no-input" id="NewEmail">@ViewBag.NewEmail</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-push-5 col-sm-5 col-md-push-5 col-md-4 margin-10">
            <button type="submit" class="btn btn-lg btn-primary btn-block" value="登録する" name="Confirm">登録する</button>
        </div>
        <div class="col-sm-pull-2 col-sm-2 col-md-pull-1 col-md-2">
            @Html.ActionLink("修正する", "EmailChangeView", "UserSettings", null, new { @id = "Edit", @class = "btn btn-lg btn-cancel btn-block" })
        </div>
    </div>
}
