﻿@using MTI.CaradaIdProvider.Web.Models.ViewModels
@model MTI.CaradaIdProvider.Web.Models.ViewModels.EmailChangeViewModel
@{
    ViewBag.Title = "メールアドレス変更";
    ViewBag.Url = "/UserSettings/EmailChange";

    var emailChangeTemp = TempData["EmailChange"] as EmailChangeViewModel;
    TempData.Keep();
}
<h1 class="h2">CARADA ID メールアドレス変更</h1>
<p class="margin-30">メールアドレスの変更を行います。<br>新しく設定されるメールアドレスと、本人認証の為に、登録されたパスワードをご入力ください。</p>
@using (Html.BeginForm("EmailChange", "UserSettings", FormMethod.Post, new { @class = "form-horizontal", @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.Email)</label>
        <div class="col-sm-9">
            <span class="form-control no-input" id="Email">@emailChangeTemp.Email</span>
        </div>
    </div>
    <div class="form-group">
        <label for="NewEmail" class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.NewEmail)</label>
        <div class="col-sm-9">
            @Html.EditorFor(model => model.NewEmail, new { htmlAttributes = new { @type = "email", @class = "form-control", @data_rule_email = "false", @placeholder = "新しいメールアドレス" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.NewEmail)</span>
        </div>
    </div>
    <div class="form-group">
        <label for="Password" class="col-sm-3 control-label">@Html.DisplayNameFor(model => model.Password)</label>
        <div class="col-sm-9">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @class = "form-control", @placeholder = "パスワード" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Password)</span>
        </div>
    </div>
    <div class="form-group margin-20">
        <div class="col-sm-9 col-sm-offset-3">
            <ul class="indent">
                <li class="caution"><small>ドメイン指定受信をご利用の方は、「@@carada.jp」 のドメイン解除設定をお願いいたします。</small></li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-push-5 col-sm-5 col-md-push-5 col-md-4 margin-10">
            <button type="submit" class="btn btn-lg btn-primary btn-block" name="Change">変更する</button>
        </div>
        <div class="col-sm-pull-2 col-sm-2 col-md-pull-1 col-md-2">
            @Html.ActionLink("戻る", "Index", "UserSettings", null, new { @id = "Back", @class = "btn btn-lg btn-cancel btn-block" })
        </div>
    </div>
}

