﻿@using MTI.CaradaIdProvider.Web.Utilities
@using MTI.CaradaIdProvider.Web.Models.ViewModels
@model MTI.CaradaIdProvider.Web.Models.ViewModels.EmailResetViewModel
@{
    ViewBag.Title = "ﾒｰﾙｱﾄﾞﾚｽ再設定";
    ViewBag.Url = "/UserSettings/EmailReset";

    var emailReset = TempData["EmailReset"] as EmailResetViewModel;
    TempData.Keep();

    var securityQuestion = SelectListUtility.ConvertDicToSelectList(emailReset.SerializeItems);

}
<div style="background-color:#313131;color:white;font-size:small;">
    CARADA ID ﾒｰﾙｱﾄﾞﾚｽ再設定
</div>
<br />
CARADA IDとﾊﾟｽﾜｰﾄﾞと秘密の質問への回答を入力することによって､ﾒｰﾙｱﾄﾞﾚｽを再設定できます｡
<br />
<br />
@using (Html.BeginForm("EmailReset", "UserSettings", FormMethod.Post, new { @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.DisplayNameFor(model => model.CaradaId)
    <div align="left">
        @Html.EditorFor(model => model.CaradaId, new { htmlAttributes = new { @style = "width:100%", @type = "text", @istyle = "3" } })
    </div>
    <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.CaradaId)</span>
    <br />
    @("ﾊﾟｽﾜｰﾄﾞ")
    <div align="left">
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @style = "width:100%", @type = "password", @istyle = "3" } })
    </div>
    <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.Password)</span>
    <br />
    @Html.DisplayNameFor(model => model.SecurityQuestionSelectId)
    <br />
    <div align="left">
        @Html.DropDownListFor(model => model.SecurityQuestionSelectId, securityQuestion, new { @style = "width:100%" })
    </div>
    <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.SecurityQuestionSelectId)</span>
    <br />
    @Html.DisplayNameFor(model => model.Answer)
    <div align="left">
        @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @style = "width:100%", @type = "text", @istyle = "1" } })
        <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.Answer)</span>
    </div>
    <span style="font-size:xx-small;">答えは全角文字で入力してください｡</span>
    <br />
    <br />
    @("新しいﾒｰﾙｱﾄﾞﾚｽ")
    <div align="left">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @style = "width:100%", @type = "text", @istyle = "3" } })
    </div>
    <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.Email)</span>
    <br />
    @("※ﾄﾞﾒｲﾝ指定受信をご利用の方は､｢@carada.jp｣のﾄﾞﾒｲﾝ解除設定をお願いいたします｡")
    <br /><br />
    <div style="text-align:center;">
        <input type="submit" value="    再設定する    " name="Reset" />
    </div>
}
<br />
@Html.ActionLink("戻る", "LoginView", "User", null, new { @id = "Back" })
