﻿@{
    ViewBag.Title = "ﾒｰﾙｱﾄﾞﾚｽ変更確認";
    ViewBag.Url = "/UserSettings/EmailChangeConfirm";
}
<div style="background-color:#313131;color:white;font-size:small;">
CARADA ID ﾒｰﾙｱﾄﾞﾚｽ変更確認
</div>
<br />
入力内容をご確認の上､登録ﾎﾞﾀﾝから完了させてください｡<br />
<br />
<div>
    新しいﾒｰﾙｱﾄﾞﾚｽ<br /><br />
    @ViewBag.NewEmail<br />
</div><br />
<div align="center">
    @using (Html.BeginForm("EmailChangeView", "UserSettings", FormMethod.Get, new { @name = "modify", @id = "modify" }))
    {
        <input type="submit" value="    修正する    " id="Edit" />
    }
    <br />
    @using (Html.BeginForm("EmailChangeConfirm", "UserSettings", FormMethod.Post, new { @name = "regist", @id = "regist" }))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="    登録する    " name="Confirm" />
    }
</div>
