﻿@model MTI.CaradaIdProvider.Web.Models.ViewModels.EmailChangeVerifyCodeViewModel
@{
    ViewBag.Title = "ﾒｰﾙｱﾄﾞﾚｽ変更認証ｺｰﾄﾞ確認";
    ViewBag.Url = "/UserSettings/EmailChangeVerifyCode";
}
<div style="background-color:#313131;color:white;font-size:small;">
    CARADA ID ﾒｰﾙｱﾄﾞﾚｽ変更認証
</div>
<br />
ご登録いただいたﾒｰﾙｱﾄﾞﾚｽ宛に認証ｺｰﾄﾞを送信しました｡<br />
<br />
@using (Html.BeginForm("EmailChangeVerifyCode", "UserSettings", FormMethod.Post, new { @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <div align="left">
        届いたﾒｰﾙに記載された認証ｺｰﾄﾞを下記へ入力してください。<br /><br />
        認証ｺｰﾄﾞ<br />
        <div align="left">
            @Html.EditorFor(model => model.VerifyCode, new { htmlAttributes = new { @style = "width:100%", @type = "text", @istyle = "4" } })
        </div>
        <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.VerifyCode)</span>
        <br />
        @("しばらく経っても認証ｺｰﾄﾞﾒｰﾙが届かない場合は、再度ﾒｰﾙｱﾄﾞﾚｽ入力からやり直してください。")
        <br />
        @("※ﾄﾞﾒｲﾝ指定受信をご利用の方は、「@carada.jp」のﾄﾞﾒｲﾝ解除設定をお願いいたします。")
        <br />
        @("※最新のﾒｰﾙに記載された認証ｺｰﾄﾞのみが有効となりますのでご注意ください。")
        <br />
        <div align="center"><input type="submit" value="    認証する    " name="Verify" /></div>
    </div>
    <br />
    @Html.ActionLink("戻る", "EmailChangeView", "UserSettings", null, new { @id = "Back" })
}

