﻿@model MTI.CaradaIdProvider.Web.Models.ViewModels.EmailResetVerifyCodeViewModel
@{
    ViewBag.Title = "ﾒｰﾙｱﾄﾞﾚｽ再設定認証ｺｰﾄﾞ確認";
    ViewBag.Url = "/UserSettings/EmailResetVerifyCode";
}
<div style="background-color:#313131;color:white;font-size:small;">
    CARADA ID ﾒｰﾙｱﾄﾞﾚｽ再設定認証
</div>
<br />
ご入力いただいたﾒｰﾙｱﾄﾞﾚｽ宛に認証ｺｰﾄﾞを送信しました｡<br />
届いたﾒｰﾙに記載された認証ｺｰﾄﾞを下記へ入力してください｡<br />
<br />
@using (Html.BeginForm("EmailResetVerifyCode", "UserSettings", FormMethod.Post, new { @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @("認証ｺｰﾄﾞ")
    <div align="center">
        @Html.EditorFor(model => model.VerifyCode, new { htmlAttributes = new { @style = "width:100%", @type = "text", @istyle = "4" } })
    </div>
    <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.VerifyCode)</span>
    <br />
    <div style="font-size:xx-small;">
        しばらく経っても認証ｺｰﾄﾞﾒｰﾙが届かない場合は､再度ﾒｰﾙｱﾄﾞﾚｽ入力からやり直してください｡<br />
        ※ ﾄﾞﾒｲﾝ指定受信をご利用の方は､｢@@carada.jp｣のﾄﾞﾒｲﾝ解除設定をお願いいたします｡<br />
        ※ 最新のﾒｰﾙに記載された認証ｺｰﾄﾞのみが有効となりますのでご注意ください｡<br />
    </div>
    <br />
    <div style="text-align:center;">
        <input type="submit" value="    認証する    " name="Verify" />
    </div>
}
<br />
@Html.ActionLink("戻る", "EmailResetView", "UserSettings", null, new { @id = "Back" })

