﻿@using MTI.CaradaIdProvider.Web.Models.ViewModels
@model MTI.CaradaIdProvider.Web.Models.ViewModels.EmailChangeViewModel
@{
    ViewBag.Title = "ﾒｰﾙｱﾄﾞﾚｽ変更";
    ViewBag.Url = "/UserSettings/EmailChange";

    var emailChangeTemp = TempData["EmailChange"] as EmailChangeViewModel;
    TempData.Keep();
}
<div style="background-color:#313131;color:white;font-size:small;">
    CARADA ID ﾒｰﾙｱﾄﾞﾚｽ変更
</div>
<br />
ﾒｰﾙｱﾄﾞﾚｽの変更を行います｡<br />
新しく設定されるﾒｰﾙｱﾄﾞﾚｽと､本人認証の為に､登録されたﾊﾟｽﾜｰﾄﾞをご入力ください｡<br />
<br />
@using (Html.BeginForm("EmailChange", "UserSettings", FormMethod.Post, new { @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <div align="left">
        現在のﾒｰﾙｱﾄﾞﾚｽ<br /><br />
        @emailChangeTemp.Email<br /><br />
        新しいﾒｰﾙｱﾄﾞﾚｽ<br />
        <div align="left">
            @Html.EditorFor(model => model.NewEmail, new { htmlAttributes = new { @style="width:100% ", @type="text", @istyle="3" } })
        </div>
        <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.NewEmail)</span>
        <br />
        ﾊﾟｽﾜｰﾄﾞ<br />
        <div align="left">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @style = "width:100%", @type = "password", @istyle = "3" } })
        </div>
        <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.Password)</span>
        <br />
        @("※ﾄﾞﾒｲﾝ指定受信をご利用の方は､｢@carada.jp｣のﾄﾞﾒｲﾝ解除設定をお願いいたします｡")
        <br />
        <br />
        <div align="center"><input type="submit" value="    変更する    " name="Change"/></div>
        <br />
        @Html.ActionLink("戻る", "Index", "UserSettings", null, new { @id = "Back" })
    </div>
}

