﻿@model MTI.CaradaIdProvider.Web.Models.ViewModels.UserSettingsViewModel
@{
    ViewBag.Title = "アカウント管理";
    ViewBag.Url = "/UserSettings/Index";
}
<h1 class="h2 margin-30">CARADA ID アカウント管理</h1>
<div class="row account">
    <div class="col-xs-12 col-sm-3 col-md-2 match-height">
        <h2 class="h5" id="CaradaIdLabel">@Html.DisplayNameFor(model => model.CaradaId)</h2>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8 match-height">
        <p id="CaradaId">@Html.ValueFor(model => model.CaradaId)</p>
    </div>
</div>
<div class="row account">
    <div class="col-xs-12 col-sm-3 col-md-2 match-height">
        <h2 class="h5" id="EmailLabel">@Html.DisplayNameFor(model => model.Email)</h2>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8 match-height">
        <p id="Email">@Html.ValueFor(model => model.Email)</p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 match-height">
        @Html.ActionLink("変更", "EmailChangeView", "UserSettings", null, new { @id = "EmailChangeView", @class = "btn btn-default btn-block" })
    </div>
</div>
<div class="row account">
    <div class="col-xs-12 col-sm-3 col-md-2 match-height">
        <h2 class="h5" id="PasswordLabel">パスワード</h2>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8 match-height">
        <p id="PasswordMaskLabel">********</p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 match-height">
        @Html.ActionLink("変更", "PasswordChangeView", "UserSettings", null, new { @id = "PasswordChangeView", @class = "btn btn-default btn-block" })
    </div>
</div>
<div class="row account margin-36">
    <div class="col-xs-12 col-sm-3 col-md-2 match-height">
        <h2 class="h5" id="SecurityQuestionLabel">@Html.DisplayNameFor(model => model.SecurityQuestion)</h2>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10 match-height">
        <p id="SecurityQuestion">@Html.ValueFor(model => model.SecurityQuestion)</p>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 match-height">
        <h2 class="h5" id="SecurityAnswerLabel">答え</h2>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8 match-height">
        <p id="SecurityAnswerMaskLabel">************************</p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 match-height">
        @Html.ActionLink("変更", "SecurityQuestionChangeView", "UserSettings", null, new { @id = "SecurityQuestionChangeView", @class = "btn btn-default btn-block" })
    </div>
</div>
<div class="text-center col-sm-4 col-sm-offset-4">
    @Html.ActionLink("ログアウト", "Logout", "User", null, new { @id = "Logout", @class = "btn btn-primary btn-lg btn-block" })
</div>
