﻿@model MTI.CaradaIdProvider.Web.Models.ViewModels.UserSettingsViewModel
@{
    ViewBag.Title = "ｱｶｳﾝﾄ管理";
    ViewBag.Url = "/UserSettings/Index";
}
<div style="background-color:#313131;color:white;font-size:small;">
    CARADA ID ｱｶｳﾝﾄ管理
</div>
<br />
@Html.DisplayNameFor(model => model.CaradaId)<br />
&nbsp;@Html.ValueFor(model => model.CaradaId)<br />
<br />
@using (Html.BeginForm("EmailChangeView", "UserSettings", FormMethod.Get, new { }))
{
    @:ﾒｰﾙｱﾄﾞﾚｽ<br />
    @:&nbsp;@Html.ValueFor(model => model.Email)
    <div style="text-align:right;">
        <input type="submit" value="    変更する    " id="EmailChangeView" />
    </div>
}
<br />
@using (Html.BeginForm("PasswordChangeView", "UserSettings", FormMethod.Get, new { }))
{
    @:ﾊﾟｽﾜｰﾄﾞ<br />
    @:&nbsp;********
    <div style="text-align:right;">
        <input type="submit" value="    変更する    " id="PasswordChangeView" />
    </div>
}
<br />
@using (Html.BeginForm("SecurityQuestionChangeView", "UserSettings", FormMethod.Get, new { }))
{
    @Html.DisplayNameFor(model => model.SecurityQuestion)<br />
    @:&nbsp;@Html.ValueFor(model => model.SecurityQuestion)<br />
    @:&nbsp;答え：********
    <div style="text-align:right;">
        <input type="submit" value="    変更する    " id="SecurityQuestionChangeView" />
    </div>
}
<br />
@using (Html.BeginForm("Logout", "User", FormMethod.Get, new { }))
{
    <div style="text-align:center;">
        <input type="submit" value="    ﾛｸﾞｱｳﾄ    " id="Logout" />
    </div>
}
