﻿@model MTI.CaradaIdProvider.Web.Models.ViewModels.PasswordChangeViewModel
@{
    ViewBag.Title = "ﾊﾟｽﾜｰﾄﾞ変更";
    ViewBag.Url = "/UserSettings/PasswordChange";
}
<div style="background-color:#313131;color:white;font-size:small;">
    CARADA ID ﾊﾟｽﾜｰﾄﾞ変更
</div>
<br />
現在のﾊﾟｽﾜｰﾄﾞと､新しく設定したいﾊﾟｽﾜｰﾄﾞを入力してください｡<br />
<br />
@using (Html.BeginForm("PasswordChange", "UserSettings", FormMethod.Post, new { @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <div align="left">
        @("現在のﾊﾟｽﾜｰﾄﾞ")<br />
        <div align="left">
            @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @id = "inputPassword", @style = "width:100%", @type = "password", @istyle = "3" } })
        </div>
        <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.CurrentPassword)</span><br />
        @("新しいﾊﾟｽﾜｰﾄﾞ")<br />
        <div align="left">
            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @id = "inputNewPassword", @style = "width:100%", @type = "password", @istyle = "3" } })
        </div>
        <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.NewPassword)</span><br />
        @("新しいﾊﾟｽﾜｰﾄﾞ（確認用）")<br />
        <div align="left">
            @Html.EditorFor(model => model.NewPasswordConfirm, new { htmlAttributes = new { @id = "inputNewPasswordConfirm", @style = "width:100%", @type = "password", @istyle = "3" } })
        </div>
        <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.NewPasswordConfirm)</span><br />
        <div align="center"><input type="submit" value="    変更する    " name="Change" /></div>
        <br />
        @Html.ActionLink("戻る", "Index", "UserSettings", null, new { @id = "Back" })
    </div>
}