﻿@model MTI.CaradaIdProvider.Web.Models.ViewModels.PasswordResetGuideViewModel
@{
    ViewBag.Title = "パスワード再設定案内";
    ViewBag.Url = "/UserSettings/PasswordResetGuide";
}
<h1 class="h2">CARADA ID パスワード再設定案内</h1>
<p class="margin-30">パスワード再設定のご案内をメールにて送信させていただきます。登録されているメールアドレスを入力してください。</p>
@using (Html.BeginForm("PasswordResetGuide", "UserSettings", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="EMail" class="col-sm-3 col-md-2 control-label">@Html.DisplayNameFor(model => model.Email)</label>
        <div class="col-sm-9">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @type = "email", @class = "form-control margin-10", @data_rule_email = "false", @placeholder = "メールアドレス" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Email)</span>
        </div>
    </div>
    <div class="form-group margin-30">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <ul class="indent">
                <li class="caution" id="advice"><small>ドメイン指定受信をご利用の方は、「@@carada.jp」 のドメイン解除設定をお願いいたします。</small></li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-push-5 col-sm-5 col-md-push-4 col-md-4 margin-10">
            <button type="submit" class="btn btn-lg btn-primary btn-block" name="Reset">パスワードを再設定する</button>
        </div>
        <div class="col-sm-pull-2 col-sm-2 col-md-pull-2 col-md-2">
            @Html.ActionLink("戻る", "LoginView", "User", null, new { @class = "btn btn-lg btn-cancel btn-block", @id = "Back" })
        </div>
    </div>
}
