﻿@model MTI.CaradaIdProvider.Web.Models.ViewModels.PasswordChangeViewModel
@{
    ViewBag.Title = "パスワード変更";
    ViewBag.Url = "/UserSettings/PasswordChange";
}
<h1 class="h2">CARADA ID パスワード変更</h1>
<p class="margin-30">現在のパスワードと、新しく設定したいパスワードを入力してください。</p>
@using (Html.BeginForm("PasswordChange", "UserSettings", FormMethod.Post, new { @autocomplete = "off", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="inputPassword" class="col-sm-4 col-md-3 control-label">@Html.DisplayNameFor(model => model.CurrentPassword)</label>
        <div class="col-sm-8">
            @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @id = "inputPassword", @type = "password", @class = "form-control", @placeholder = "現在のパスワード" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.CurrentPassword)</span>
        </div>
    </div>
    <div class="form-group">
        <label for="inputNewPassword" class="col-sm-4 col-md-3 control-label">@Html.DisplayNameFor(model => model.NewPassword)</label>
        <div class="col-sm-8">
            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @id = "inputNewPassword", @type = "password", @class = "form-control", @placeholder = "新しいパスワード" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.NewPassword)</span>
        </div>
    </div>
    <div class="form-group margin-30">
        <label for="inputNewPasswordConfirm" class="col-sm-4 col-md-3 control-label">@Html.DisplayNameFor(model => model.NewPasswordConfirm)</label>
        <div class="col-sm-8">
            @Html.EditorFor(model => model.NewPasswordConfirm, new { htmlAttributes = new { @id = "inputNewPasswordConfirm", @type = "password", @class = "form-control", @placeholder = "新しいパスワード（確認用）" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.NewPasswordConfirm)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-push-6 col-sm-6 col-md-push-5 col-md-4 margin-10">
            <button type="submit" value="変更する" name="Change" class="btn btn-lg btn-primary btn-block">変更する</button>
        </div>
        <div class="col-sm-pull-2 col-sm-2 col-md-pull-1 col-md-2">
            @Html.ActionLink("戻る", "Index", "UserSettings", null, new { @id = "Back", @class = "btn btn-lg btn-cancel btn-block" })
        </div>
    </div>
}