﻿@model MTI.CaradaIdProvider.Web.Models.ViewModels.PasswordResetViewModel
@{
    ViewBag.Title = "パスワード再設定";
    ViewBag.Url = "/UserSettings/PasswordReset";
}
<h1 class="h2">CARADA ID パスワード再設定</h1>
<p class="margin-30">ご入力いただいたメールアドレス宛に認証コードを送信しました。届いたメールに記載された認証コードを下記へ入力してください。</p>
@using (Html.BeginForm("PasswordReset", "UserSettings", FormMethod.Post, new { @autocomplete = "off", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="VerifyCode" class="col-sm-4 col-md-3 control-label">@Html.DisplayNameFor(model => model.VerifyCode)</label>
        <div class="col-sm-8">
            @Html.EditorFor(model => model.VerifyCode, new { htmlAttributes = new { @type = "text", @class = "form-control", @placeholder = "認証コード" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.VerifyCode)</span>
        </div>
    </div>
    <div class="form-group">
        <label for="ResetPassword" class="col-sm-4 col-md-3 control-label">@Html.DisplayNameFor(model => model.ResetPassword)</label>
        <div class="col-sm-8">
            @Html.EditorFor(model => model.ResetPassword, new { htmlAttributes = new { @type = "password", @class = "form-control", @placeholder = "再設定パスワード" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.ResetPassword)</span>
        </div>
    </div>
    <div class="form-group">
        <label for="ConfirmResetPassword" class="col-sm-4 col-md-3 control-label">@Html.DisplayNameFor(model => model.ConfirmResetPassword)</label>
        <div class="col-sm-8">
            @Html.EditorFor(model => model.ConfirmResetPassword, new { htmlAttributes = new { @type = "password", @class = "form-control",  @placeholder = "再設定パスワード（確認用）" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.ConfirmResetPassword)</span>
        </div>
    </div>
    <div class="form-group margin-20">
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">
            <small>しばらく経っても認証コードメールが届かない場合は、再度メールアドレス入力からやり直してください。</small>
            <ul class="indent margin-20">
                <li class="caution"><small>ドメイン指定受信をご利用の方は、「@@carada.jp」のドメイン解除設定をお願いいたします。</small></li>
                <li class="caution"><small>最新のメールに記載された認証コードのみが有効となりますのでご注意ください。</small></li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-push-6 col-sm-5 col-md-push-5 col-md-4 margin-10">
            <button type="submit" value="再設定する" name="Reset" class="btn btn-lg btn-primary btn-block">再設定する</button>
        </div>
        <div class="col-sm-pull-1 col-sm-2 col-md-pull-1 col-md-2">
            @Html.ActionLink("戻る", "PasswordResetGuideView", "UserSettings", null, new { @id = "Back", @class = "btn btn-lg btn-cancel btn-block" })
        </div>
    </div>
}
