﻿@model MTI.CaradaIdProvider.Web.Models.ViewModels.PasswordResetGuideViewModel
@{
    ViewBag.Title = "ﾊﾟｽﾜｰﾄﾞ再設定案内";
    ViewBag.Url = "/UserSettings/PasswordResetGuide";
}
<div style="background-color:#313131;color:white;font-size:small;">
    CARADA ID ﾊﾟｽﾜｰﾄﾞ再設定案内
</div>
<br />
    ﾊﾟｽﾜｰﾄﾞ再設定のご案内をﾒｰﾙにて送信させていただきます｡<br />
    登録されているﾒｰﾙｱﾄﾞﾚｽを入力してください｡<br />
<br />
@using (Html.BeginForm("PasswordResetGuide", "UserSettings", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    @("ﾒｰﾙｱﾄﾞﾚｽ")
    <div align="left">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @style = "width:100%", @type = "text", @istyle = "3" } })
    </div>
        <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.Email)</span>
        <br />
        @("※ﾄﾞﾒｲﾝ指定受信をご利用の方は､｢@carada.jp｣")
        <br />
        @("のﾄﾞﾒｲﾝ解除設定をお願いいたします｡")
        <br />
        <br />
        <div style="text-align:center;">
            <input type="submit" value="    ﾊﾟｽﾜｰﾄﾞを再設定する    " name="Reset" />
        </div>
}
<br />
@Html.ActionLink("戻る", "LoginView", "User", null, new { @id = "Back" })
