﻿@model MTI.CaradaIdProvider.Web.Models.ViewModels.PasswordResetViewModel
@{
    ViewBag.Title = "ﾊﾟｽﾜｰﾄﾞ再設定";
    ViewBag.Url = "/UserSettings/PasswordReset";
}
<div style="background-color:#313131;color:white;font-size:small;">
    CARADA ID ﾊﾟｽﾜｰﾄﾞ再設定
</div>
<br />
    ご入力いただいたﾒｰﾙｱﾄﾞﾚｽ宛に認証ｺｰﾄﾞを送信しました｡<br />
    届いたﾒｰﾙに記載された認証ｺｰﾄﾞを下記へ入力してください｡
<br />
<br />
@using (Html.BeginForm("PasswordReset", "UserSettings", FormMethod.Post, new { @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @("認証ｺｰﾄﾞ")
    <div align="left">
        @Html.EditorFor(model => model.VerifyCode, new { htmlAttributes = new { @style = "width:100%", @type = "text", @istyle = "4" } })
    </div>
    <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.VerifyCode)</span>
    <br />
    @("再設定ﾊﾟｽﾜｰﾄﾞ")
    <div align="left">
        @Html.EditorFor(model => model.ResetPassword, new { htmlAttributes = new { @style = "width:100%", @type = "password", @istyle = "3" } })
    </div>
    <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.ResetPassword)</span>
    <br />
    @("再設定ﾊﾟｽﾜｰﾄﾞ（確認用）")
    <div align="left">
        @Html.EditorFor(model => model.ConfirmResetPassword, new { htmlAttributes = new { @style = "width:100%", @type = "password", @istyle = "3" } })
    </div>
    <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.ConfirmResetPassword)</span>
    <br />
    @("しばらく経っても認証ｺｰﾄﾞﾒｰﾙが届かない場合は、再度ﾒｰﾙｱﾄﾞﾚｽ入力からやり直してください。")<br />
    @("※ﾄﾞﾒｲﾝ指定受信をご利用の方は、「@carada.jp」のﾄﾞﾒｲﾝ解除設定をお願いいたします。")<br />
    @("※最新のﾒｰﾙに記載された認証ｺｰﾄﾞのみが有効となりますのでご注意ください。")
    <br />
    <br />
    <div style="text-align:center;">
        <input type="submit" value="    再設定する    " name="Reset" />
    </div>
}
<br />
@Html.ActionLink("戻る", "PasswordResetGuideView", "UserSettings", null, new { @id = "Back"})
