﻿@using MTI.CaradaIdProvider.Web.Utilities
@model MTI.CaradaIdProvider.Web.Models.ViewModels.SecurityQuestionChangeViewModel
@{
    ViewBag.Title = "秘密の質問変更";
    ViewBag.Url = "/UserSettings/SecurityQuestionChange";
    var securityQuestionDic = TempData["SecurityQuestionChange"] as Dictionary<int, string>;
    TempData.Keep();
    var securityQuestion = SelectListUtility.ConvertDicToSelectList(securityQuestionDic);
}
<h1 class="h2">CARADA ID 秘密の質問変更</h1>
<p>秘密の質問の変更を行います。</p>
<p class="margin-30">メールアドレス変更された場合に、メールアドレスの再設定に必要となる秘密の質問を登録してください</p>
@using (Html.BeginForm("SecurityQuestionChange", "UserSettings", FormMethod.Post, new { @autocomplete = "off", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="SecurityQuestionSelectId" class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.SecurityQuestionSelectId)</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.SecurityQuestionSelectId, securityQuestion, new { @class = "form-control btn btn-dropdown" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.SecurityQuestionSelectId)</span>
        </div>
    </div>
    <div class="form-group margin-30">
        <label for="Answer" class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.Answer)</label>
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control", @placeholder = "全角ひらがな50文字以内で入力してください。" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Answer)</span>
        </div>
    </div>
    <div class="form-group margin-30">
        <label for="Password" class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.Password)</label>
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @class = "form-control", @placeholder = "パスワード" } })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Password)</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-push-4 col-sm-6 col-md-push-4 col-md-4 margin-10">
            <button type="submit" class="btn btn-lg btn-primary btn-block" name="Change">変更する</button>
        </div>
        <div class="col-sm-pull-4 col-sm-2 col-md-pull-2 col-md-2">
            @Html.ActionLink("戻る", "Index", "UserSettings", null, new { @id = "Back", @class = "btn btn-lg btn-cancel btn-block" })
        </div>
    </div>
}
