﻿@using MTI.CaradaIdProvider.Web.Utilities
@model MTI.CaradaIdProvider.Web.Models.ViewModels.SecurityQuestionChangeViewModel
@{
    ViewBag.Title = "秘密の質問変更";
    ViewBag.Url = "/UserSettings/SecurityQuestionChange";
    var securityQuestionDic = TempData["SecurityQuestionChange"] as Dictionary<int, string>;
    TempData.Keep();
    var securityQuestion = SelectListUtility.ConvertDicToSelectList(securityQuestionDic);
}
<div style="background-color:#313131;color:white;font-size:small;">
    CARADA ID 秘密の質問変更
</div>
<br />
秘密の質問の変更を行います｡<br />
<br />
ﾒｰﾙｱﾄﾞﾚｽ変更された場合に､ﾒｰﾙｱﾄﾞﾚｽの再設定に必要となる秘密の質問を登録してください<br />
<br />
@using (Html.BeginForm("SecurityQuestionChange", "UserSettings", FormMethod.Post, new { @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.DisplayNameFor(model => model.SecurityQuestionSelectId)<br />
    <div align="left">
        @Html.DropDownListFor(model => model.SecurityQuestionSelectId, securityQuestion, new { @style = "width:100%;" })
        <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.SecurityQuestionSelectId)</span><br />
    </div>
    <br />
    @Html.DisplayNameFor(model => model.Answer)<br />
    <div align="left">
        @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @style = "width:100%;", @type = "text" } })
        <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.Answer)</span><br />
    </div>
    @("全角ひらがな50文字以内で入力してください｡")<br /><br />
    @("ﾊﾟｽﾜｰﾄﾞ")<br />
    <div align="left">
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @style = "width:100%;", @type = "password", @istyle = "3" } })
        <span style="color:#a94442;">@Html.ValidationMessageFor(model => model.Password)</span><br />
    </div>
    <br />
    <div align="center"><input type="submit" value="    変更する    " name="Change" /></div>
    <br />
    @Html.ActionLink("戻る", "Index", "UserSettings", null, new { @id = "Back" })<br />
}
