﻿@using Microsoft.Azure
@using MTI.CaradaIdProvider.Web.Resource
@{
    var analytics = ViewContext.HttpContext.Items["Analytics"] as AnalyticsSettingsModel;
    var IsLogined = (User != null && User.Identity != null && User.Identity.IsAuthenticated);
}
@{ string @pageTitle = @ViewBag.Title ?? "CARADA ID"; }
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="Shift_JIS">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" href="~/Content/shared/img/carada_favicon_16.ico">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Expires" content="Thu, 01 Jan 1970 00:00:00 GMT">
    <title>@pageTitle</title>
</head>
<body role="document">
    <div style="background-color:#fff000; padding:15px 10px;" align="left">
        <img src="~/Content/shared/img/logo_100.gif" alt="CARADA header" />
    </div>
    <div style="font-size:x-small;">
        @RenderBody()
    </div>
    <div style="background-color:#000000; padding:10px;" align="center">
        <div style="padding-bottom:10px;"><a style="color:#ffffff;font-size:15px;" href="http://mobile.mti.co.jp/">株式会社ｴﾑﾃｨｰｱｲ</a></div>
        <div><img src="~/Content/shared/img/logo_100_w.gif" alt="CARADA Footer" /></div>
    </div>
</body>
</html>