﻿@using Microsoft.Azure
@using MTI.CaradaIdProvider.Web.Resource
@{
    var analytics = ViewContext.HttpContext.Items["Analytics"] as AnalyticsSettingsModel;
    var IsLogined = (User != null && User.Identity != null && User.Identity.IsAuthenticated);
}
@{ string @pageTitle = @ViewBag.Title ?? "CARADA ID"; }
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" href="~/Content/shared/img/carada_favicon_16.ico">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Expires" content="Thu, 01 Jan 1970 00:00:00 GMT">
    <title>@pageTitle</title>
    @Styles.Render("~/Content/shared/css/style")
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', '@analytics.Google.GoogleAnalyticsId', { 'cookieDomain': '@analytics.Google.Domain' });

        ga('set', {
            'dimension1': '@analytics.Google.Dimension1',
            'dimension4': '@analytics.Google.Dimension4',
            'dimension6': '@analytics.Google.Dimension6'
        });

        if ('@analytics.Google.Dimension21' != '') { ga('set', { 'dimension21': '@analytics.Google.Dimension21' }); }

        ga('send', 'pageview', { 'title': '@ViewBag.Title', 'page': '@ViewBag.Url' });
    </script>

</head>
<body role="document">
    <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <h1 class="navbar-brand"><img src="~/Content/shared/img/carada_logo.png" alt="ライフスタイルを変えずに健康な自分を目指せる！ | CARADA（カラダ）" width="100%"></h1>

        </div>
    </header>
    <article>
        <div class="content container">
            @RenderBody()
        </div>
    </article>
    <footer>
        <h2 class="sr-only">フッターメニュー</h2>
        <div class="container text-center">
            <ul class="text-center">
                <li><a href="http://www.mti.co.jp/" target="_blank">運営会社</a></li>
                <li><a href="http://www.mti.co.jp/privacy/" target="_blank">プライバシーポリシー</a></li>
                <li><a href="https://www.carada.jp/terms/platform/" target="_blank">利用規約</a></li>
                <li><a href="http://mti7.okbiz.okwave.jp/category/show/2282" target="_blank">お問い合わせ</a></li>
            </ul>
            <small>&copy;株式会社エムティーアイ</small>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/caradaidp")

    @* User Insight *@
    <script type="text/javascript">
        <!--
        var _uic = _uic ||{}; var _uih = _uih ||{};_uih['id'] = @analytics.UserInsight.Id;
        _uih['lg_id'] = '';
        _uih['fb_id'] = '';
        _uih['tw_id'] = '';
        _uih['uigr_1'] = ''; _uih['uigr_2'] = ''; _uih['uigr_3'] = ''; _uih['uigr_4'] = ''; _uih['uigr_5'] = '';
        _uih['uigr_6'] = ''; _uih['uigr_7'] = ''; _uih['uigr_8'] = ''; _uih['uigr_9'] = ''; _uih['uigr_10'] = '';
        @* 仮想URLの設定 *@
        _uih['url'] = '@analytics.UserInsight.Domain' + '@ViewBag.Url';

        /* DO NOT ALTER BELOW THIS LINE */
        /* WITH FIRST PARTY COOKIE */
        (function() {
        var bi = document.createElement('scri'+'pt');bi.type = 'text/javascript'; bi.async = true;
        bi.src = ('https:' == document.location.protocol ? 'https://bs' : 'http://c') + '.nakanohito.jp/b3/bi.js';
        var s = document.getElementsByTagName('scri'+'pt')[0];s.parentNode.insertBefore(bi, s);
        })();
        //-->
    </script>
</body>
</html>